%table.table.table-condensed.logs
  %thead
    %tr
      %th Filename
      %th End time
      %th Size
      %th Actions
  - @logs.each do |log|
    %tr
      %td= log[:file_name]
      %td= I18n.l(log[:last_modified], :format => :datepicker)
      %td= number_to_human_size(log[:size].to_i)
      %td
        = link_to("Read log",         show_log_reservation_log_uploads_path(reservation,  :file_name => log[:file_name]), :class => 'btn btn-small btn-inverse', :title => "Read log")
        = link_to("Send to logs.tf",  new_reservation_log_upload_path(reservation,        :file_name => log[:file_name]), :class => 'btn btn-small btn-success', :title => "logs.tf")
