= link_to new_reservation_log_upload_path(reservation, :file_name => params[:file_name]), :class => 'btn btn-small btn-success', :title => "logs.tf" do
  Send to logs.tf
  %i.fa.fa-upload

.streaming-page
  %div{data: {controller: "virtual-log", virtual_log_view_url_value: show_log_view_reservation_log_uploads_path(reservation, file_name: @file_name), virtual_log_total_lines_value: @total_lines, virtual_log_line_height_value: 24, virtual_log_buffer_lines_value: 50, virtual_log_viewport_count_value: 200, virtual_log_initial_query_value: @initial_query, virtual_log_initial_total_matches_value: @initial_total_matches}}
    .log-controls-bar
      .log-search-container
        %input.log-search-input{type: "text", placeholder: "Search logs...", value: @initial_query, data: {action: "input->virtual-log#search", virtual_log_target: "searchInput"}}
        %button.log-search-clear{type: "button", data: {action: "click->virtual-log#clearSearch"}, title: "Clear search"} ×
        %span.log-search-count{data: {virtual_log_target: "searchCount"}}
          - if @initial_total_matches.present?
            = "#{@initial_total_matches} / #{@total_lines}"

    .log-lines-wrapper
      .log-loading-overlay{data: {virtual_log_target: "loadingOverlay"}}
        .log-load-more-spinner
        %span Loading...

      -# Virtual scroll viewport - fixed height, scrollable
      .virtual-log-viewport{data: {virtual_log_target: "viewport"}}
        -# Content container - has the full virtual height
        .virtual-log-content{data: {virtual_log_target: "content"}}
          -# Lines container - pre-rendered with initial lines for non-JS fallback
          .virtual-log-lines{data: {virtual_log_target: "linesContainer"}}
            - @initial_lines&.each_with_index do |line, idx|
              .virtual-line{style: "position: absolute; top: #{(@initial_start_index + idx) * 24}px; left: 0; right: 0;"}
                = render partial: "reservations/log_line", locals: { log_line: line, skip_sanitization: @skip_sanitization }

      .log-status-bar
        - if @total_lines > 0
          .log-progress-container{data: {virtual_log_target: "progressContainer"}}
            .log-progress-bar{data: {virtual_log_target: "progressBar"}, style: "width: 100%"}
            .log-progress-position{data: {virtual_log_target: "progressPosition"}, style: "left: 0%"}
            .log-progress-tooltip{data: {virtual_log_target: "progressTooltip"}}
        .log-status-controls
          - if @total_lines > 0
            %button.log-nav-btn{type: "button", data: {action: "click->virtual-log#scrollToTop", virtual_log_target: "topBtn"}, title: "Scroll to top (Home)"} ↑
          - if @initial_total_matches == 0 && @initial_query.present?
            %span.log-status-text{data: {virtual_log_target: "statusText"}} No matches
          - elsif @total_lines == 0
            %span.log-status-text{data: {virtual_log_target: "statusText"}} No log lines
          - elsif @initial_total_matches.present?
            %span.log-status-text{data: {virtual_log_target: "statusText"}}= "Match 1 of #{@initial_total_matches}"
          - else
            %span.log-status-text{data: {virtual_log_target: "statusText"}}= "Line 1 of #{@total_lines}"
          - if @total_lines > 0
            %button.log-nav-btn{type: "button", data: {action: "click->virtual-log#scrollToBottom", virtual_log_target: "bottomBtn"}, title: "Scroll to bottom (End)"} ↓
