- content_for(:title) { "Live Scoreboards" }

.row
  .col-md-12
    %h2.mb-4
      Live Scoreboards
      %small.text-muted= "(#{@reservations.size} active)"

- @reservations.each do |reservation|
  - live_stats = LiveMatchStats.get_stats(reservation.id)
  = turbo_stream_from reservation

  .card.mb-4
    .card-header.d-flex.justify-content-between.align-items-center
      %div
        %strong= reservation.server.name
        %span.text-muted.ms-2= reservation.first_map
        %small.text-muted.ms-2
          by
          = link_to reservation.user.nickname, reservation.user.steam_profile_url, target: "_blank"
      .btn-group.btn-group-sm
        = link_to rcon_reservation_path(reservation), class: "btn btn-warning", target: "_blank" do
          %i.fa.fa-terminal
          RCON
        = link_to reservation_path(reservation), class: "btn btn-info" do
          %i.fa.fa-eye
          Show
    .card-body.p-2
      %div{id: "match-scoreboard-#{reservation.id}"}
        - if live_stats&.any?
          - reservation_players_by_uid = reservation.reservation_players.index_by(&:steam_uid)
          - connection_info = ScoreboardConnectionInfo.for_reservation(reservation)
          - live_stats.each do |match_stats|
            = render "reservations/match_scoreboard", live_stats: match_stats, reservation_players_by_uid: reservation_players_by_uid, connection_info: connection_info
        - else
          %p.text-muted.mb-0 No match data yet
