- content_for(:title) { "Edit donator" }

.row
  .col-md-8.offset-md-2
    .card
      .card-header
        %h4.mb-0.text-white Edit Donator Expiration
      
      .card-body
        .alert.alert-info.mb-4
          .d-flex.align-items-center
            %img.rounded-circle.mr-3{src: @donator.user.steam_avatar_url(:medium), width: "60", height: "60", alt: @donator.user.nickname}
            .flex-grow-1
              %h5.mb-1.text-white= @donator.user.nickname
              .text-white
                User ##{@donator.user.id} • 
                - if @donator.expires_at
                  Currently expires: 
                  %strong= l(@donator.expires_at, format: :long)
                - else
                  %strong Never expires
        
        = simple_form_for(@donator, url: url_for(controller: "donators", action: "update"), html: { class: 'form' }) do |f|
          %div{data: { 
                 controller: "date-extension", 
                 "date-extension-format-value": I18n.t('time.formats.javascript_datepicker'),
                 "date-extension-show-meridian-value": I18n.t(:show_meridian, :scope => :time)
               }}
            .mb-4
              = f.input :expires_at, as: :string, 
                        input_html: { value: @donator.expires_at && I18n.l(@donator.expires_at, format: :datepicker), 
                                     data: { "datepicker-format": "dd-mm-yyyy hh:ii", 
                                            "datepicker-nodefault": "false",
                                            "date-extension-target": "dateInput" } }, 
                        label: "New expiration date",
                        hint: "Leave empty for permanent donator status"
              
              %label.form-label.mt-3.text-white Quick duration presets
              .btn-group.btn-group-sm{role: "group"}
                %button.btn.btn-outline-light{type: "button", 
                                             data: { action: "date-extension#extendDate", days: "31" }}
                  +1 month
                %button.btn.btn-outline-light{type: "button",
                                             data: { action: "date-extension#extendDate", days: "93" }}
                  +3 months
                %button.btn.btn-outline-light{type: "button",
                                             data: { action: "date-extension#extendDate", days: "186" }}
                  +6 months
                %button.btn.btn-outline-light{type: "button",
                                             data: { action: "date-extension#extendDate", days: "365" }}
                  +1 year
                %button.btn.btn-outline-light{type: "button",
                                             data: { action: "date-extension#clearDate" }}
                  Never expires
          
          .d-flex.justify-content-between
            = link_to donators_path, class: "btn btn-secondary" do
              %i.fa.fa-times.me-2
              Cancel
            %button.btn.btn-primary{type: "submit"}
              %i.fa.fa-save.me-2
              Update Expiration

= render "datepicker_options"


