- content_for(:title) { "donators" }

%h2 Donators

.row
  .col-md-10
    = will_paginate @donators, :renderer => BootstrapPagination::Rails
  .col-md-2
    = link_to("Add donator", new_donator_path)


.row
  .col-md-12
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Name
          %th Donator until
          %th Product
      %tbody
        - @donators.each do |donator|
          %tr[donator]
            %td= link_to(donator.nickname, donator.steam_profile_url)
            %td= link_to(donator.donator_until, edit_donator_path(donator))
            %td= donator.orders.completed.map(&:product_name).join(",")

