- content_for(:title) { "Add donator" }

.row
  .col-md-8.offset-md-2
    .card
      .card-header
        %h4.mb-0.text-white Add New Donator
      
      .card-body
        = simple_form_for(@donator, url: url_for(controller: "donators", action: "create"), html: { class: 'form', data: { controller: "user-lookup", user_lookup_url_value: lookup_user_donators_path } }) do |f|
          
          .mb-4
            %label.form-label Find User
            %input.form-control{type: "text", 
                              placeholder: "Enter Steam ID, Steam ID64, User ID (#123), Steam URL, or nickname",
                              data: { user_lookup_target: "input",
                                     action: "input->user-lookup#lookup" }}
            %small.form-text.text-muted
              Examples: STEAM_0:0:12345, 76561197960287930, [U:1:12345], #123, partial nickname,
              %br
              https://steamcommunity.com/profiles/76561197960497430, https://steamcommunity.com/id/ariekanarie
          
          #user-lookup-result{data: { user_lookup_target: "result" }}
          
          = f.input :user_id, as: :hidden, input_html: { data: { user_lookup_target: "userId" } }
          
          .mb-4
            = f.input :expires_at, as: :string, input_html: { value: I18n.l(@donator.expires_at, format: :datepicker), data: { "datepicker-format": "dd-mm-yyyy hh:ii", "datepicker-nodefault": "false" } }, label: "Expires at"
            .btn-group.btn-group-sm.mt-2{role: "group"}
              %button.btn.btn-outline-light{type: "button", 
                                            data: { action: "click->user-lookup#quickDuration",
                                                    days: "31" }}
                1 month
              %button.btn.btn-outline-light{type: "button",
                                            data: { action: "click->user-lookup#quickDuration",
                                                    days: "93" }}
                3 months
              %button.btn.btn-outline-light{type: "button",
                                            data: { action: "click->user-lookup#quickDuration",
                                                    days: "186" }}
                6 months
              %button.btn.btn-outline-light{type: "button",
                                            data: { action: "click->user-lookup#quickDuration",
                                                    days: "365" }}
                1 year
          
          .d-flex.justify-content-between
            = link_to "Cancel", donators_path, class: "btn btn-secondary"
            %button.btn.btn-primary{type: "submit", 
                                    disabled: true,
                                    data: { user_lookup_target: "submitButton" }}
              %i.fa.fa-plus-circle.me-2
              Add Donator

= render "datepicker_options"