.row
  .col-md-12
    %h2 Become a donator

    %p
      Thanks for your interest in becoming a donator! As a donator you help to keep this site running. These are the perks for donators:

    = render "shared/perks"

    %p
      We use the money for the following things:
      %ul
        %li
          Pay
          = link_to("the server providers", server_providers_path)
          their share, based on minutes played on their servers
        %li Pay for the hosting of the site
        %li Fund additional gameservers
        %li
          = link_to("Arie's", 'http://steamcommunity.com/id/ariekanarie', :target => "_blank")
          Bugatti Veyron fund

    %p
      Donations are site-specific, so you either donate for serveme.tf or na.serveme.tf, make sure you're on the right site before donating.
.row
  .col-md-12
    %p
      You can also donate and get a private server. This gets you all the normal donator perks, but in addition to that you can pick any server and you'll be the only one that can use it. You can change which server is yours anytime you like.
      Please note that you won't get FTP access to the private server and you'll have to 'book' the server like any other serveme server.

.row
  .col-md-12
    = render 'form'

.row
  .col-md-12
    &nbsp;

.row
  .col-md-12
    %p
      If you rent a private server, you can pick which one you want after donating on
      = link_to "the settings page", settings_path

.row
  .col-md-12
    You can also
    = link_to('send me a TF2 trade offer.', 'http://steamcommunity.com/tradeoffer/new/?partner=231702&token=a3jCFRBO')
    The current rate is 1 key per month, but you can also send some items just to say thanks.
