- bucket_objects.each do |bucket_object|
  %tr
    %td
      %span.map-name-compact{class: "font-mono", data: {bs_toggle: "tooltip", bs_placement: "top"}, title: bucket_object[:map_name]}= bucket_object[:map_name]
    %td
      - if bucket_object[:uploader]
        = link_to bucket_object[:uploader].nickname, admin_user_path(bucket_object[:uploader]), title: "Uploaded #{time_ago_in_words(bucket_object[:upload_date])} ago"
      - else
        %span{class: "text-faint"} Unknown
    - map_stat = map_statistics[bucket_object[:map_name]]
    - if map_stat
      %td{class: "font-mono"}
        = map_stat[:times_played]
      %td{class: "font-mono"}
        = I18n.l(map_stat[:first_played].to_date)
      %td{class: "font-mono"}
        = I18n.l(map_stat[:last_played].to_date)
    - else
      %td{colspan: 3}
        0
    %td
      = link_to("https://fastdl.serveme.tf/#{bucket_object[:key]}", class: "v2-btn v2-btn-primary v2-btn-sm", title: "#{bucket_object[:size]} bytes") do
        = number_to_human_size(bucket_object[:size])
        %i.fa.fa-download

      = link_to(map_upload_path(bucket_object[:map_name]), method: :delete, class: "v2-btn v2-btn-danger v2-btn-sm") do
        Delete
        %i.fa.fa-trash
