- reservation = server.current_reservation
- statistic = server.recent_server_statistics.last&.decorate
%tr
  %td.px-2.whitespace-nowrap
    = server.name.html_safe

  - if statistic
    %td.px-2.whitespace-nowrap= statistic.map_name
    %td.px-2.whitespace-nowrap= statistic.number_of_players
    %td.px-2.whitespace-nowrap= statistic.fps
    %td.px-2.whitespace-nowrap= statistic.traffic_in
    %td.px-2.whitespace-nowrap= statistic.traffic_out
    %td.px-2.whitespace-nowrap.actions
      = "#{server.inactive_minutes} minutes"
  - else
    - if reservation
      %td.px-2.whitespace-nowrap{colspan: 5} N/A
      %td.px-2.whitespace-nowrap.actions
    - else
      %td.px-2.whitespace-nowrap{colspan: 6} Idle

