- begin
  - server_info = ServerInfo.new(server)
  - admin = !!current_admin
  - cache "server_info_#{server.id}_#{server_info.uptime.to_i}_#{admin}", expires_in: 1.minute do
    %tr
      %td
        = link_to show_server_player_statistic_path(:server_id => server.id) do
          = server.flag
          = server_info.server_name
      %td= server_info.map_name
      %td= "#{server_info.number_of_players} / #{server_info.max_players}"
      %td= server_info.fps
      %td= server_info.cpu
      %td= "#{server_info.traffic_in} KB/s"
      %td= "#{server_info.traffic_out} KB/s"
      %td= "#{server_info.uptime} minutes"
      - if server.current_reservation
        %td
          = "#{server.inactive_minutes} minutes"
          - if admin
            = render "reservations/actions", :reservation => server.current_reservation

      - else
        %td N/A
- rescue
  %tr
    %td
      = link_to show_server_player_statistic_path(:server_id => server.id) do
        = server.name
    %td{:colspan => 8}
      N/A
