.row
  .col-md-12
    %h2 Your stats
    %table.table.table-condensed.table-hover.table-bordered

      %tr
        %td User #
        %td= user.id

      %tr
        %td Date joined
        %td= I18n.l(user.created_at, :format => :datepicker)

      %tr
        %td Login count
        %td= user.sign_in_count

      %tr
        %td Reservations made
        %td= user.reservations.count

      %tr
        %td Total reservation time
        - duration = (user.total_reservation_seconds / 3600.0).round
        %td= "#{duration} hours"

      %tr
        %td Logs uploaded
        %td= user.log_uploads.where(:status => "success").count

      %tr
        %td Premium
        %td= t("user.donator.#{!!user.donator?}")

      - if user.donator_until
        %tr
          %td Premium until
          %td= I18n.l(user.donator_until, :format => :datepicker)

