%h2 Your settings
= simple_form_for(@user, :html => { :class => 'form-horizontal' }) do |f|
  = f.input :time_zone, :priority => /Europe/, :include_blank => true, :hint => "Auto detection thinks you're in time zone: #{time_zone_from_cookie}", :required => true, :input_html => {:class => "select2"}
  - logs_tf_hint = "#{link_to('Get or generate your logs.tf API key', 'http://logs.tf/uploader', :target => '_blank')} on the logs.tf website, and enter it here"
  = f.input :logs_tf_api_key, :placeholder => "logs.tf API key", :hint => logs_tf_hint

  .col-md-offset-2
    %button.btn.btn-default{:type => :submit}
      Save

= render 'statistics', :user => @user

:javascript
  $("#user_time_zone").select2();
