- content_for(:title) { "Docker Hosts" }

.row
  .col-md-12
    .d-flex.justify-content-between.align-items-center.mb-4
      %h2.mb-0 Docker Hosts
      = link_to("Add Docker Host", new_admin_docker_host_path, class: "btn btn-primary")

.row
  .col-md-12
    .card
      .card-body.p-0
        .table-responsive
          %table.table.table-hover.mb-0
            %thead
              %tr
                %th.pl-3 City
                %th Location
                %th Hostname
                %th IP
                %th.text-center Start Port
                %th.text-center Containers
                %th.text-center Status
                %th.text-center Setup
                %th.text-center Actions
            %tbody
              - @docker_hosts.each do |docker_host|
                %tr[docker_host]
                  %td.pl-3
                    = docker_host.city
                  %td
                    %span{class: ["flags", "flags-#{docker_host.location.flag}"]}
                    = docker_host.location.name
                  %td
                    = docker_host.hostname
                  %td
                    = docker_host.ip
                  %td.text-center
                    = docker_host.start_port
                  %td.text-center
                    = docker_host.current_container_count
                    \/
                    = docker_host.max_containers
                  %td.text-center
                    - if docker_host.active
                      %span.badge.bg-success Active
                    - else
                      %span.badge.bg-secondary Inactive
                  %td.text-center
                    - case docker_host.setup_status
                    - when "ready"
                      %span.badge.bg-success= docker_host.setup_status
                    - when "pending"
                      %span.badge.bg-warning= docker_host.setup_status
                    - else
                      %span.badge.bg-info= docker_host.setup_status
                  %td.text-center
                    .btn-group.btn-group-sm{role: "group"}
                      = link_to("Setup", setup_admin_docker_host_path(docker_host), class: "btn btn-info")
                      = link_to("Edit", edit_admin_docker_host_path(docker_host), class: "btn btn-warning")
                      - if docker_host.active
                        = link_to("Deactivate", admin_docker_host_path(docker_host), method: :delete, data: { confirm: "Are you sure you want to deactivate this Docker host?" }, class: "btn btn-danger")
