.clip_container{:id => "#{copy_button_id}_container", :data => { :"clipboard-text" => copy_text } }
  .clip_button{:id => copy_button_id, :title => "Copy to clipboard"}
    %i.fa.fa-copy{:id => "#{copy_button_id}_icon"}>
:javascript
  var #{copy_button_id} = new ZeroClipboard($("##{copy_button_id}_container"));
  #{copy_button_id}.setHandCursor(true);
  #{copy_button_id}.glue($('#{copy_button_id}'), $('#{copy_button_id}_container'));
