- goal_percentage = PaypalOrder.monthly_goal_percentage.round

- if goal_percentage.between?(0, 30)
  - bar_class = "danger"
- if goal_percentage.between?(30, 70)
  - bar_class = "warning"
- if goal_percentage.between?(70, 100)
  - bar_class = "success"
- if goal_percentage >= 100
  - bar_class = "info"

.donation_target
  .col-md-3
    %strong Monthly server bills (#{I18n.t('number.currency.format.unit')}#{PaypalOrder.monthly_goal.round})

  .col-md-7
    .progress.progress-striped.active
      - if goal_percentage <= 100
        - width = goal_percentage
      - else
        - width = 100
      .progress-bar{:class => "progress-bar-#{bar_class}", :role => "progressbar", :style => "width: #{width}%"}
        %strong #{goal_percentage} %

  .col-md-2
    .center-block
      = render 'shared/paypal_button'
