- users_last_reservation = current_user.reservations.last
- if users_last_reservation && users_last_reservation.past?
  - if users_last_reservation.inactive_too_long?
    .row
      .col-md-12
        .alert.alert-danger
          %h4
            = link_to("Your previous reservation", reservation_path(users_last_reservation))
            expired due to inactivity. If you need more than #{users_last_reservation.inactive_minute_limit} minutes to get people on your server, press the "idle reset" button to keep your reservation open.

- if na_system? && current_user.reservations.count % 10 == 0
  .row
    .col-md-12
      .alert.alert-success
        %h4
          Thanks for being a serveme user. Have you considered owning one of our servers? You can use the promo code 'serveme' on
          = link_to("tragicservers.com", "http://www.tragicservers.com/link.php?id=3")
          for a 20% lifetime discount!

- if !donator?
  - if current_user.reservations.count.between?(10, 100)
    .row
      .col-md-12
        .donate.alert.alert-danger
          - duration = (current_user.total_reservation_seconds / 3600.0).round
          %h4
            Hi there! You've made #{duration} hours worth of reservations so far, have you considered donating to keep this service running?
            = render "shared/paypal_button"

  - if current_user.reservations.count > 100
    .row
      .col-md-12
        .donate.alert.alert-danger
          %h4
            Wow, you've made more than 100 reservations! You must really like us! Please DONATE to help us keep this service alive!
            = render "shared/paypal_button"
