.navbar.navbar-inverse{:role => "navigation"}
  %ul.nav.navbar-nav.navbar-left.octocat
    = link_to "http://github.com/Arie/serveme", :title => "Fork me on GitHub"  do
      = image_tag "octocat.png", :alt => "Fork me on GitHub", :class => "octocat"
  %ul.nav.navbar-nav.navbar-left.twitter
    = link_to "https://twitter.com/servemetf", :title => "serveme.tf on twitter"  do
      %i.fa.fa-twitter.fa-2x
  .container
    .navbar-header
      %ul.nav.navbar-nav
        %li.dropdown
          %a.navbar-brand.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            %i.fa.fa-globe
            %b.caret>
          %ul.dropdown-menu#serveme_links
            %li
              = link_to('http://csgo.serveme.tf') do
                %span{:class => ["flags", "flags-eu"]}
                csgo.serveme.tf (Europe)

    .navbar-inner
      %ul.nav.navbar-nav
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
              %i.fa.fa-list
              Reservations
              %b.caret>
            %ul.dropdown-menu
              %li
                = link_to your_reservations_path do
                  %i.fa.fa-user
                  Your reservations
              %li
                = link_to played_in_path do
                  %i.fa.fa-child
                  Reservations you played in
              - if current_user && current_user.donator?
                %li
                  = link_to recent_reservations_path do
                    %i.fa.fa-clock-o
                    Recent reservations
              %li
                = link_to new_reservation_path do
                  %i.fa.fa-edit
                  Make reservation
              %li
                = link_to i_am_feeling_lucky_reservations_path, :method => :post, :title => "Make a reservation in 1 click" do
                  %i.fa.fa-warning
                  1-click reservation
        %li
          = link_to servers_path do
            %i.fa.fa-tasks
            Servers
        - if current_user && current_user.donator?
          %li
            = link_to upload_map_path do
              %i.fa.fa-upload
              Upload map
        %li
          = link_to faq_path do
            %i.fa.fa-question
            FAQ
        %li
          = link_to statistics_path do
            %i.fa.fa-bar-chart-o
            Stats

        %li.dropdown
          %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            %i.fa.fa-trophy
            Credits
            %b.caret>
          %ul.dropdown-menu
            %li
              = link_to server_providers_path do
                %i.fa.fa-heart
                Sponsors
            %li
              = link_to credits_path do
                %i.fa.fa-thumbs-up
                Credits
        %li.dropdown
          %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            %i.fa.fa-star
            Premium
            %b.caret>
          %ul.dropdown-menu
            %li
              = link_to donate_path do
                %i.fa.fa-paypal
                Buy
            %li
              = link_to leaderboard_donators_path do
                %i.fa.fa-money
                Leaderboard
        - if current_user
          %li
            = link_to settings_path do
              %i.fa.fa-cogs
              Settings
      %ul.nav.navbar-nav.navbar-right
        .account
          - if current_user
            = link_to current_user.decorate.nickname, settings_path
            |
            = link_to users_logout_path, :method => :delete do
              %i.fa.fa-sign-out
          - else
            = link_to '/users/auth/steam' do
              = image_tag 'sits_small.png', :alt => "Sign in with Steam"
          = link_to switch_theme_path do
            .theme_switcher
              - if white_theme?
                - switch_to_color = "black"
              - else
                - switch_to_color = "white"
              .color{:class => switch_to_color}
