.navbar.navbar-inverse
  .navbar-inner
    .container
      %ul.nav
        %li=    link_to("Serveme",             root_path, :class => 'brand')
        - if current_user
          %li=  link_to("Your reservations",   reservations_path)
        %li=    link_to("Recent reservations", recent_reservations_pages_path)
        %li=    link_to("Servers",             servers_pages_path)
        %li=    link_to("Top 10 users",        top_10_pages_path)
        %li=    link_to("Credits",             credits_pages_path)
        %li=    link_to("Server providers",    server_providers_pages_path)
        - if current_user
          %li= link_to "Settings", edit_users_path
      .pull-right
        .account
          - if current_user
            Hello
            = link_to current_user.nickname, edit_users_path
            |
            = link_to "logout", users_logout_path, :method => :delete
          - else
            = link_to '/users/auth/steam' do
              = image_tag 'sits_small.png', :alt => "Sign in with Steam"
