.navbar.navbar-inverse{:role => "navigation"}
  .container
    .navbar-header
      %ul.nav.navbar-nav
        %li.dropdown
          %a.navbar-brand.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            %i.fa.fa-globe
            serveme.tf
            %b.caret>
          %ul.dropdown-menu#serveme_links
            %li
              = link_to('http://serveme.tf') do
                %span{:class => ["flags", "flags-eu"]}
                serveme.tf (Europe)
            %li
              = link_to('http://na.serveme.tf') do
                %span{:class => ["flags", "flags-us"]}
                na.serveme.tf (North-America)

    .navbar-inner
      %ul.nav.navbar-nav
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
              %i.fa.fa-list
              Reservations
              %b.caret>
            %ul.dropdown-menu
              %li
                = link_to your_reservations_path do
                  %i.fa.fa-user
                  Your reservations
              %li
                = link_to recent_reservations_path do
                  %i.fa.fa-clock-o
                  Recent reservations
        - else
          %li= link_to("Recent reservations",     recent_reservations_path)
        %li
          = link_to servers_path do
            %i.fa.fa-tasks
            Servers
        %li
          = link_to faq_path do
            %i.fa.fa-question
            FAQ
        %li
          = link_to statistics_path do
            %i.fa.fa-bar-chart-o
            Stats

        %li.dropdown
          %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            %i.fa.fa-trophy
            Credits
            %b.caret>
          %ul.dropdown-menu
            %li
              = link_to server_providers_path do
                %i.fa.fa-heart
                Sponsors
            %li
              = link_to credits_path do
                %i.fa.fa-thumbs-up
                Credits

        - if current_user
          %li
            = link_to donate_path do
              %i.fa.fa-star
              Donate
          %li
            = link_to settings_path do
              %i.fa.fa-cogs
              Settings
      %ul.nav.navbar-nav.navbar-right
        .account
          - if current_user
            Hello
            = link_to current_user.decorate.nickname, edit_users_path
            |
            = link_to "logout", users_logout_path, :method => :delete
          - else
            = link_to '/users/auth/steam' do
              = image_tag 'sits_small.png', :alt => "Sign in with Steam"
