.navbar.navbar-inverse
  .navbar-inner
    .container
      %ul.nav
        %li.dropdown
          %a.brand.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            serveme.tf
            %b.caret>
          %ul.dropdown-menu
            %li
              = link_to('http://serveme.tf') do
                %span{:class => ["flags", "flags-eu"]}
                serveme.tf (Europe)
            %li
              = link_to('http://na.serveme.tf') do
                %span{:class => ["flags", "flags-us"]}
                na.serveme.tf (North-America)

        - if current_user
          %li.dropdown
            %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
              Reservations
              %b.caret>
            %ul.dropdown-menu
              %li= link_to("Your reservations",   reservations_path)
              %li= link_to("Recent reservations", recent_reservations_pages_path)
        - else
          %li= link_to("Recent reservations",     recent_reservations_pages_path)
        %li= link_to("Servers",                   servers_pages_path)
        %li= link_to("FAQ",                       faq_pages_path)
        %li= link_to("Stats",                     statistics_pages_path)
        %li= link_to("Sponsors",                  server_providers_pages_path)
        %li= link_to("Credits",                   credits_pages_path)
        - if current_user
          %li= link_to "Settings",                edit_users_path
      .pull-right
        .account
          - if current_user
            Hello
            = link_to current_user.decorate.nickname, edit_users_path
            |
            = link_to "logout", users_logout_path, :method => :delete
          - else
            = link_to '/users/auth/steam' do
              = image_tag 'sits_small.png', :alt => "Sign in with Steam"
