%nav.navbar.navbar-expand-md.navbar-dark.bg-primary
  .navbar-brand{href: "#"}
    %ul.nav.navbar-nav
      %li.dropdown
        = link_to(SITE_HOST, root_url)
        %a.dropdown-toggle{data: {"bs-toggle" => "dropdown"}, href: "#"}
        .dropdown-menu#serveme_links
          = link_to('https://serveme.tf', class: "dropdown-item") do
            %span{class: ["flags", "flags-eu"]}
            serveme.tf (Europe)
          = link_to('https://au.serveme.tf', class: "dropdown-item") do
            %span{class: ["flags", "flags-au"]}
            au.serveme.tf (Australia)
          = link_to('https://na.serveme.tf', class: "dropdown-item") do
            %span{class: ["flags", "flags-us"]}
            na.serveme.tf (North-America)
          = link_to('https://sea.serveme.tf', class: "dropdown-item") do
            %span{class: ["flags", "flags-sg"]}
            sea.serveme.tf (Asia)

  %button.navbar-toggler{type: "button", data: { "bs-toggle" => "collapse", "bs-target" => "#serveme-navbar" }}
    %span.navbar-toggler-icon

  #serveme-navbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if current_user
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{data: {"bs-toggle" => "dropdown"}, href: "#"}
            %i.fa.fa-calendar
            Reservations
            %b.caret>
          .dropdown-menu
            = link_to new_reservation_path, class: "dropdown-item" do
              %i.fa.fa-plus
              Make reservation
            = link_to i_am_feeling_lucky_reservations_path, method: :post, title: "Make a reservation in 1 click", class: "dropdown-item" do
              %i.fa.fa-magic
              1-click reservation
            .dropdown-divider
            = link_to your_reservations_path, class: "dropdown-item" do
              %i.fa.fa-user
              Your reservations
            = link_to played_in_path, class: "dropdown-item" do
              %i.fa.fa-child
              Reservations you played in
            = link_to recent_reservations_path, class: "dropdown-item" do
              %i.fa.fa-clock-o
              Recent reservations

      %li.dropdown.nav-item
        %a.dropdown-toggle{data: {"bs-toggle" => "dropdown"}, href: "#", class: "nav-link"}
          %i.fa.fa-users
          Community
          %b.caret>
        .dropdown-menu
          - if current_user
            = link_to players_path, class: "dropdown-item" do
              %i.fa.fa-gamepad
              Players
            = link_to servers_path, class: "dropdown-item" do
              %i.fa.fa-tasks
              Servers
          = link_to players_globe_path, class: "dropdown-item", data: { turbo: false } do
            %i.fa.fa-globe
            Player Globe
          = link_to statistics_path, class: "dropdown-item", data: { turbo: false } do
            %i.fa.fa-bar-chart-o
            Statistics
          = link_to faq_path, class: "dropdown-item" do
            %i.fa.fa-question
            FAQ
          .dropdown-divider
          - if current_user
            = link_to leaderboard_donators_path, class: "dropdown-item" do
              %i.fa.fa-trophy
              Leaderboard
          = link_to server_providers_path, class: "dropdown-item" do
            %i.fa.fa-handshake-o
            Sponsors
          = link_to credits_path, class: "dropdown-item" do
            %i.fa.fa-thumbs-up
            Credits
          .dropdown-divider
          = link_to("https://discord.gg/0s38RdItLiCmARMm", title: "serveme.tf on discord", class: "dropdown-item", target: "_blank") do
            = image_tag "discord.png", alt: "Join our Discord server", style: "width: 1rem; height: 1rem; vertical-align: middle; margin-right: 0.5rem;"
            Discord
          = link_to "https://github.com/Arie/serveme", title: "serveme.tf source code", class: "dropdown-item", target: "_blank" do
            = image_tag "octocat.png", alt: "Fork me on GitHub", style: "width: 1rem; height: 1rem; vertical-align: middle; margin-right: 0.5rem;"
            GitHub

      - if current_user && current_user.donator?
        %li.dropdown.nav-item
          %a.dropdown-toggle{data: {"bs-toggle" => "dropdown"}, href: "#", class: "nav-link"}
            %i.fa.fa-upload
            Maps
            %b.caret>
          .dropdown-menu
            = link_to upload_map_path, class: "dropdown-item" do
              %i.fa.fa-plus
              Upload map
            = link_to maps_path, class: "dropdown-item" do
              %i.fa.fa-list
              Browse maps

      - if current_user
        %li.nav-item
          = link_to donate_path, class: "nav-link btn-outline-warning", data: { turbo: false } do
            %i.fa.fa-star
            Premium

        %li.nav-item
          = link_to settings_path, class: "nav-link" do
            %i.fa.fa-cogs
            Settings

      - if current_user && (current_user.admin? || current_user.league_admin?)
        %li.dropdown.nav-item
          %a.dropdown-toggle{data: {"bs-toggle" => "dropdown"}, href: "#", class: "nav-link"}
            %i.fa.fa-shield
            Admin
            %b.caret>
          .dropdown-menu
            %h6.dropdown-header Server Management
            = link_to server_configs_path, class: "dropdown-item" do
              %i.fa.fa-cogs
              Server Configs
            = link_to whitelists_path, class: "dropdown-item" do
              %i.fa.fa-list
              Whitelists
            - if current_user.admin?
              = link_to admin_server_notifications_path, class: "dropdown-item" do
                %i.fa.fa-bell
                Server Notifications
              = link_to upload_file_path, class: "dropdown-item" do
                %i.fa.fa-file-o
                Upload file
            .dropdown-divider
            %h6.dropdown-header Statistics & Monitoring
            - if show_server_monitoring_link?
              = link_to server_monitoring_path, class: "dropdown-item" do
                %i.fa.fa-tachometer
                Server Monitoring
            = link_to player_statistics_path, class: "dropdown-item" do
              %i.fa.fa-user
              Player Statistics
            = link_to server_statistics_path, class: "dropdown-item" do
              %i.fa.fa-bar-chart
              Server Statistics
            = link_to stac_logs_path, class: "dropdown-item" do
              %i.fa.fa-warning
              STAC Logs
            - if current_user.admin?
              = link_to "/sidekiq", class: "dropdown-item", target: "_blank" do
                %i.fa.fa-tasks
                Sidekiq Jobs
            - if current_user.admin?
              .dropdown-divider
              %h6.dropdown-header Order Management
              = link_to admin_products_path, class: "dropdown-item" do
                %i.fa.fa-shopping-cart
                Manage Products
              = link_to admin_vouchers_path, class: "dropdown-item" do
                %i.fa.fa-ticket
                Manage Vouchers
              = link_to admin_donators_path, class: "dropdown-item" do
                %i.fa.fa-money
                Manage Donators

      - if current_user
        %li.nav-item.d-md-none
          = link_to users_logout_path, method: :delete, class: "nav-link" do
            %i.fa.fa-sign-out
            Logout
      - else
        %li.nav-item.d-md-none
          = link_to '/users/auth/steam', method: :post, class: "nav-link" do
            = image_tag 'sits_small.png', alt: "Sign in with Steam", style: "height: 1.5rem; vertical-align: middle; margin-right: 0.5rem;"
            Login with Steam
    %ul.nav.navbar-nav.ms-auto.d-none.d-md-flex
      %li.nav-item
        = link_to("https://discord.gg/0s38RdItLiCmARMm", title: "serveme.tf on discord", class: "discord", target: "_blank") do
          = image_tag "discord.png", alt: "Join our Discord server", style: "width: 1.5rem; height: 1.5rem;"
        = link_to "https://github.com/Arie/serveme", title: "serveme.tf source code", class: "octocat", target: "_blank" do
          = image_tag "octocat.png", alt: "Fork me on GitHub", style: "width: 1.5rem; height: 1.5rem;"
      %li.nav-item
        .account
          - if current_user
            = link_to current_user.decorate.nickname, settings_path, class: "player-name-compact"
            |
            = link_to users_logout_path, method: :delete do
              %i.fa.fa-sign-out
          - else
            = link_to '/users/auth/steam', method: :post do
              = image_tag 'sits_small.png', alt: "Sign in with Steam"
