%h3 Your reservations
%table.table.table-condensed.your-reservations
  %thead
    %tr
      %th Server
      %th Reserved from
      %th Reserved until
      %th Actions
  %tbody
    - @users_reservations.each do |reservation|
      %tr[reservation]
        %td= reservation.server.name
        %td= I18n.l(reservation.starts_at,  :format => :short)
        %td= I18n.l(reservation.ends_at,    :format => :short)
        %td
          %span
            - unless reservation.past?
              = link_to reservation_path(reservation),              :class => 'btn btn-small btn-success' do
                Show reservation
                %i.icon-list

            - if reservation.active?
              = link_to  reservation.server_connect_url,            :class => 'btn btn-small btn-warning' do
                Join game
                %i.icon-play
              = link_to reservation.stv_connect_url,                :class => 'btn btn-small btn-inverse' do
                Join STV
                %i.icon-film
              - if reservation.less_than_1_hour_left?
                = link_to extend_reservation_path(reservation),     :class => 'btn btn-small btn-primary', :title => 'Extend reservation',  :method => :post,   :data => { :confirm => "This will extend your reservation by 1 hour if possible" } do
                  Extend reservation
                  %i.icon-time
              = link_to reservation_path(reservation),              :class => 'btn btn-small btn-danger',  :title => 'End reservation',     :method => :delete, :data => { :confirm => "Are you sure you want to end your reservation?" } do
                End reservation
                %i.icon-remove

            - if reservation.cancellable?
              = link_to reservation_path(reservation),              :class => 'btn btn-small btn-warning', :title => 'Cancel reservation',  :method => :delete do
                Cancel reservation
                %i.icon-trash

            - if reservation.past?
              = link_to "/uploads/#{reservation.zipfile_name}",     :class => 'btn btn-small btn-info',    :title => 'Download a zip with the logs and demos of the match' do
                Log/demo zip
                %i.icon-download-alt
              = link_to reservation_log_uploads_path(reservation),  :class => 'btn btn-small btn-success', :title => 'Upload the match logs to logs.tf' do
                logs.tf
                %i.icon-upload-alt
