%h3 Your reservations
%table.table.table-condensed
  %thead
    %tr
      %th Server
      %th Reserved from
      %th Reserved until
      %th Actions
  %tbody
    - @users_reservations.each do |reservation|
      %tr
        %td= reservation.server.name
        %td= I18n.l(reservation.starts_at,  :format => :short)
        %td= I18n.l(reservation.ends_at,    :format => :short)
        %td
          %span
            - unless reservation.past?
              = link_to "Show reservation",     reservation_path(reservation),          :class => 'btn btn-small btn-success'
            - if reservation.active?
              = link_to "Join game",            reservation.steam_connect_url,          :class => 'btn btn-small btn-warning'
              = link_to "Extend reservation",   extend_reservation_path(reservation),   :class => 'btn btn-small btn-primary', :method => :post,   :data => { :confirm => "This will extend your reservation by 1 hour if possible" }, :title => 'Extend reservation'
              = link_to "End reservation",      reservation_path(reservation),          :class => 'btn btn-small btn-danger',  :method => :delete, :data => { :confirm => "Make sure to switch maps before ending your reservation, else we won't be able to send you the logs and stv demos" }, :title => 'End reservation'
            - if reservation.future?
              = link_to "Cancel reservation",   reservation_path(reservation),          :class => 'btn btn-small btn-warning', :method => :delete, :title => 'Cancel reservation'
            - if reservation.past?
              = link_to "Log/demo zip",         "/uploads/#{reservation.zipfile_name}", :class => 'btn btn-small btn-info', :title => 'Cancel reservation'
