- content_for(:title) { "SDR IP:Port" }
%h2 Find SDR IP:Port

- if user_signed_in?
  .row
    .col-md-12
      .alert{ class: @sdr_eligible ? "alert-success" : "alert-warning" }
        %strong SDR Eligibility:
        - if @sdr_eligible
          ✓ You are eligible to use SDR
        - else
          ✗ You are not currently eligible to use SDR. To qualify: use #{SITE_HOST} with your normal connection (no VPN/SDR) at least once per week - either by playing or by visiting this page.

.row
  .col-md-6
    = form_with url: sdr_path, method: :get, data: { turbo_frame: "sdr_result" } do |f|
      .form-group
        = f.label :ip_port, "Normal IP:port or connect string"
        = f.text_field :ip_port, class: "form-control", placeholder: "bolus.fakkelbrigade.eu:27015", value: params[:ip_port]
      = f.submit "Get SDR IP:Port", class: "btn btn-primary mt-3"

    = turbo_frame_tag "sdr_result" do
      - if params[:ip_port].present?
        .mt-4
          - if !params[:ip_port].match?(/:[0-9]+/)
            .alert.alert-warning Invalid format. Please enter server address in format: domain:port or ip:port
          - elsif @server.nil? && @result.nil?
            .alert.alert-warning Server not found
          - elsif @result.blank?
            .alert.alert-warning No SDR IP available for this server
          - else
            %h4 SDR IP:Port:
            = @result
            = render 'shared/copy_button', :copy_button_id => "sdr_result", :copy_text => @result
