- content_for(:title) { "ratings" }

%h2 Donators

.row
  .col-md-10
    = will_paginate @ratings, :renderer => BootstrapPagination::Rails


.row
  .col-md-12
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Server
          %th Date
          %th Rater
          %th Opinion
          %th Reason
          %th Actions
      %tbody
        - @ratings.each do |rating|
          %tr[rating]{class: rating.opinion == "bad" ? "danger" : "success"}
            - user = rating.user && rating.user.decorate
            %td= rating.server_name
            %td= I18n.l(rating.updated_at, format: :short_with_dayname)
            - if user
              %td= link_to(user.nickname, user.steam_profile_url, :target => "_blank")
            - else
              %td= link_to(rating.nickname, "http://steamcommunity.com/profiles/#{rating.steam_uid}", :target => "_blank")
            %td= rating.opinion
            %td= rating.reason
            %td
              - unless rating.published?
                = link_to "Publish",    publish_rating_path(rating),    method: :post,    class: "btn btn-xs btn-success"
              - else
                = link_to "Unpublish",  unpublish_rating_path(rating),  method: :post,    class: "btn btn-xs btn-info"
              = link_to "Destroy",      rating_path(rating),            method: :delete,  class: "btn btn-xs btn-danger"
