- content_for(:stripe) do
  = javascript_tag "var stripe = Stripe('#{STRIPE_PUBLISHABLE_KEY}'); var elements = stripe.elements();"

.stripe-result
  .row
    .col-md-8
      .mine
        %p.lead
          Thanks for buying premium, it's been immediately activated, enjoy!
      .gift
        .voucher_code{data: { voucher_url: claim_url } }
        %p.lead
          Thanks for buying premium, because you've bought it for someone else, they need to activate it.
        Send
        = link_to "this link", claim_path, id: "voucher-claim-url"
        to the person you want to give premium to

.premium-page
  .row
    .col-md-12
      %h2 Buy premium

      %p
        Thanks for your interest in our premium service! As a premium user you help to keep this site running and get some
        = link_to "cool perks", "#perks"
        in return!

  .row
    .col-md-6.col-xs-12.order-form
      = render 'form'

    .col-md-6.col-xs-12

      %p
        What are the perks?

      = render "shared/perks"

      %p#perks
        We use the money for the following things:
        %ul
          %li
            Pay
            = link_to("the server providers", server_providers_path)
            their share, based on minutes played on their servers
          %li Pay for the hosting of the site
          %li Fund additional gameservers
          %li
            = link_to("Arie's", 'http://steamcommunity.com/id/ariekanarie', :target => "_blank")
            Bugatti Veyron fund

      %p
        Premium status is site-specific, so you either pay for serveme.tf, na.serveme.tf or sa.serveme.tf, make sure you're on the right site before paying.

      %p
        You can also rent a private server. This gets you all the normal premium perks, but in addition to that you can pick any server and you'll be the only one that can use it. You can change which server is yours anytime you like.
        Please note that you won't get FTP access to the private server and you'll have to 'book' the server like any other serveme server.

      %p
        If you rent a private server, you can pick which one you want after buying on
        = link_to "the settings page", settings_path

      %p
        You can also
        = link_to('send me a TF2 trade offer.', 'https://steamcommunity.com/tradeoffer/new/?partner=231702&token=POpKIGaL')
        The current rate is 1 key per month, but you can also send some items just to say thanks.

  .row.stripe-result
    .col-md-12

  .row
    .col-md-12
      &nbsp;

