%h3 Current reservations
- if @reservations.any?
  %table.table.table-condensed
    %thead
      %tr
        %th Server
        %th Reserved by
        %th Reserved from
        %th Reserved until
    %tbody
      - @reservations.each do |reservation|
        
        - klass = 'success' if reservation.active?
        - klass = 'info'    if reservation.future?
        %tr{:class => klass}
          - server = reservation.server.decorate
          %td= server.name
          %td= reservation.user.nickname
          %td= I18n.l(reservation.starts_at,  :format => :time_without_seconds)
          %td= I18n.l(reservation.ends_at,    :format => :time_without_seconds)

- else
  = "None yet!"
