- content_for(:title) { "Cloud Servers" }

.row
  .col-md-12
    %h2.text-center.mb-4
      %i.fa.fa-cloud
      Cloud Servers

    .card.bg-faded.mb-3
      .card-header.text-white
        %i.fa.fa-user
        Your Status
      .card-body
        - if current_user&.cloud_server_access?
          .alert.alert-success
            %strong
              %i.fa.fa-check-circle
              You have access to cloud servers!
          %p
            You can launch on-demand cloud servers from the
            = link_to "cloud reservation page", new_cloud_reservation_path
            or through the "Cloud server" option in the reservation menu.
          - if current_user.donator? && !current_user.admin?
            = form_tag cloud_info_path, method: :post do
              = hidden_field_tag :disable, "true"
              %button.btn.btn-sm.btn-outline-danger{type: :submit}
                %i.fa.fa-times
                Disable cloud servers
        - elsif current_user&.donator?
          .alert.alert-info
            %strong
              %i.fa.fa-info-circle
              As a Premium user, you can enable cloud servers.
          %p
            Read about cloud servers below, then click the button to enable them on your account.
          = form_tag cloud_info_path, method: :post do
            = hidden_field_tag :enable, "true"
            %button.btn.btn-success{type: :submit}
              %i.fa.fa-cloud
              Enable cloud servers
        - else
          .alert.alert-warning
            %strong
              %i.fa.fa-info-circle
              Cloud servers are available to Premium users.
          %p
            = link_to "Donate", donate_path
            to become a Premium user and get access to cloud servers.

    .card.bg-faded.mb-3
      .card-header.text-white
        %i.fa.fa-star
        What are Cloud Servers?
      .card-body
        %p.lead
          Cloud servers are on-demand TF2 servers that are provisioned just for you.
          Instead of sharing a pool of permanent servers, a fresh server is spun up
          in the cloud when you need it and destroyed when you're done.

    .row
      .col-md-6
        .card.bg-faded.mb-3
          .card-header.text-white
            %i.fa.fa-globe
            More Locations
          .card-body
            %ul
              %li Servers in regions not covered by permanent servers
              %li Choose the location closest to your players
              %li New locations added regularly

      .col-md-6
        .card.bg-faded.mb-3
          .card-header.text-white
            %i.fa.fa-refresh
            Fresh Every Time
          .card-body
            %ul
              %li A brand new server instance for every reservation
              %li Server is destroyed when your reservation ends
              %li Available even when all permanent servers are in use

    .card.bg-faded.mb-3
      .card-header.text-white
        %i.fa.fa-map-marker
        Available Locations
      .card-body
        .row
          - @cloud_locations.each do |country, locations|
            .col-md-4.mb-2
              %span.flags{class: "flags-#{locations.first[:flag]}"}
              %strong= country
              %br
              = locations.map { |l| l[:name] }.join(", ")

    .row
      .col-md-6
        .card.bg-faded.mb-3
          .card-header.text-white
            %i.fa.fa-clock-o
            On-Demand
          .card-body
            %ul
              %li Servers are created when you need them
              %li Schedule servers in advance
              %li Provisioning takes about 5 minutes
              %li Automatically destroyed when done

      .col-md-6
        .card.bg-faded.mb-3
          .card-header.text-white
            %i.fa.fa-cogs
            Same Features
          .card-body
            %ul
              %li Full RCON access
              %li Custom configs and whitelists
              %li STV demos and log uploads
              %li Plugin support

    .card.bg-faded
      .card-header.text-white
        %i.fa.fa-info-circle
        How It Works
      .card-body
        %ol
          %li
            %strong Launch a cloud server
            from the
            = link_to "cloud reservation page", new_cloud_reservation_path
            or the reservation menu
          %li
            %strong Pick a location
            and configure your server settings
          %li
            %strong Wait for provisioning
            \- your server will be ready in a few minutes
          %li
            %strong Play!
            Connect and enjoy your dedicated server
