%h2 Credits

.row
  .span10
    %p
      The following people have contributed to this tool, thanks!

    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th Who
          %th What
      %tbody
        %tr
          %td Chaplain
          %td Suggestion: Extended logs
        %tr
          %td Chaplain
          %td Suggestion: Zipped logs and demos
        %tr
          %td= "GoT <3"
          %td Suggestion: A server only reservable by certain people
        %tr
          %td AnAkIn
          %td
            = "Plugin: "
            = link_to('TFTrue', 'http://tftrue.redline-utilities.net', :target => '_blank')
        %tr
          %td Darker
          %td Suggestion: steam:// connect URL after making a reservation
        %tr
          %td= link_to('vanilla', 'http://etf2l.org/forum/user/18414/', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('Herr Pyromatic', 'http://etf2l.org/forum/user/20353/', :target => '_blank')
          %td Donation
