%h2 Credits

.row
  .span10
    %p
      The following people have contributed to this tool, thanks!

    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th Who
          %th What
      %tbody
        %tr
          %td= link_to("Chaplain", "http://etf2l.org/forum/user/8289/", :target => "_blank")
          %td Suggestion: Extended logs
        %tr
          %td= link_to("Chaplain", "http://etf2l.org/forum/user/8289/", :target => "_blank")
          %td Suggestion: Zipped logs and demos
        %tr
          %td= link_to("GoT <3", "http://www.teamfortress.be", :target => "_blank")
          %td Suggestion: A server only reservable by certain people
        %tr
          %td= link_to("AnAkIn", "http://etf2l.org/forum/user/1276/", :target => '_blank')
          %td
            = "Plugin: "
            = link_to('TFTrue', 'http://tftrue.redline-utilities.net', :target => '_blank')
        %tr
          %td Darker
          %td Suggestion: steam:// connect URL after making a reservation
        %tr
          %td= link_to('vanilla', 'http://etf2l.org/forum/user/18414/', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('Herr Pyromatic', 'http://etf2l.org/forum/user/20353/', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('Kaneco', 'http://etf2l.org/forum/user/23526/', :target => '_blank')
          %td Suggestion: Remind users to end their reservations
        %tr
          %td= link_to('Yonus', 'http://etf2l.org/forum/user/42109/', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('kustom3', 'http://etf2l.org/forum/user/4746/', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('raappana', 'http://etf2l.org/forum/community/topic-23191/page-5/?recent=428540#post-428540', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('Kaneco', 'http://etf2l.org/forum/community/topic-23191/page-5/?recent=428609#post-428609', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('bean', 'http://etf2l.org/forum/user/9691/', :target => '_blank')
          %td Donation
        %tr
          %td= link_to('Kaneco', 'http://etf2l.org/forum/user/23526/', :target => '_blank')
          %td 
            Suggestion: 
            = link_to('Automatically ending reservations')
            where server is empty for 30 minutes
        %tr
          %td= link_to('kKaltUu', 'http://etf2l.org/forum/user/9994/', :target => '_blank')
          %td 
            Suggestion: logs.tf upload
        %tr
          %td= link_to('zooob', 'http://etf2l.org/forum/user/1357/', :target => '_blank')
          %td 
            Service:
            = link_to("logs.tf", "http://logs.tf", :target => "_blank")
        %tr
          %td= link_to('nTraum', 'http://etf2l.org/forum/user/10512', :target => '_blank')
          %td Server

        %tr
          %td= link_to('slate', 'http://etf2l.org/forum/user/11427', :target => '_blank')
          %td Server
