- title = "No to war / Нет войне!"
- description = "Don't be a vatnik"
- content_for :title do
  = title
- content_for :meta_description do
  = description

- content_for :head do
  = render "shared/meta_tags", title: title, description: description, url: no_to_war_url, image: 'ua.jpg'

.jumbotron
  %h1= title
  %p.lead
    Hello
    %span.flags.flags-ru.ml-1.mr-0
    and
    %span.flags.flags-by.ml-1.mr-0
    friends, it's been too long.
  %p.lead
    Two rules.
  %p.lead
    1. We can't accept payments, so no premium servers. (if you've ever paid for premium,
    %a{href: "https://discord.gg/0s38RdItLiCmARMm"}
      contact us on discord
    for a free extension)
    %br
    2. Don't be a vatnik

  %p.lead
    = form_tag do |form|
      = check_box_tag :not_a_vatnik, 'true', cookies[:not_a_vatnik] == 'true'
      %label{for: 'not_a_vatnik'}
        I am not a vatnik
      %br
      = submit_tag "Submit"
