%h2 Recent reservations

.row
  .col-md-12
    = will_paginate @recent_reservations, :renderer => BootstrapPagination::Rails

.row
  .col-md-12

    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Server
          %th Reserved by
          %th Reserved from
          %th Reserved until
      %tbody
        - @recent_reservations.each do |reservation|
          - klass = 'success' if reservation.active?
          - klass = 'info'    if reservation.future?
          %tr{:class => klass}
            - server = reservation.server.decorate
            - user = reservation.user.decorate
            %td= server.name
            %td= link_to(user.nickname, user.steam_profile_url, :target => "_blank")
            %td= I18n.l(reservation.starts_at,  :format => :short)
            %td= I18n.l(reservation.ends_at,    :format => :short)
