%h2 Recent reservations

.row
  .span10

    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th Who
          %th Created
          %th Reservation
      - @recent_reservations.each do |reservation|
        - user = reservation.user
        %tr
          %td= link_to(user.nickname, user.steam_profile_url, :target => "_blank")
          %td= I18n.l(reservation.created_at, :format => :datepicker)
          %td= "#{I18n.l(reservation.starts_at, :format => :datepicker)} - #{I18n.l(reservation.ends_at, :format => :time)}"
