- content_for(:title) { "server providers" }

%h2 Server providers

.row
  .col-md-12
    %p
      These awesome organisations and individuals have contributed gameservers to the reservation system

%h3 Professional hosting providers

.row

  .col-md-12
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th
            Logo
          %th
            Name
          %th
            Description
          %th
            Location
          %th
            IP

      %tr
        %td= image_tag('server_providers/tragicservers_logo.png', :class => "server_provider_logo")
        %td= link_to('TragicServers', 'http://www.tragicservers.com/link.php?id=3', :target => '_blank')
        %td
          %p
            TragicServers is a very well known provider in North America who does a lot for the NA scene. For the NA version of serveme.tf, TragicServers provides all gameservers in 4 locations. TragicServers is the reason there's a na.serveme.tf at all.
        %td United States of Amercia, Chicago-Dallas-New York-San Jose
        %td servechi1.tragicservers.com, servedal1.tragicservers.com, serveny1.tragicservers.com, serversj1.tragicservers.com

      %tr
        %td= image_tag('server_providers/simrai.png')
        %td= link_to('SimRai', 'https://www.simrai.com/', :target => '_blank')
        %td
          "SimRai provides perfect quality gaming servers that don't leave you with an empty wallet. Simple as that. Please try our services, you won't be disappointed!"
        %td France, the Netherlands, England
        %td 195.154.168.136, 77.246.174.116, 94.75.192.199, 88.150.176.82

%h3 Community supporters

.row
  .col-md-12
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th
            Logo
          %th
            Name
          %th
            Description
          %th
            Location
          %th
            IP

      %tr
        %td= image_tag('server_providers/fakkelbrigade.png')
        %td= link_to('FakkelBrigade', 'http://fakkelbrigade.eu',        :target => '_blank')
        %td
          %p
            FakkelBrigade is a long time supporter of the European TF2 scene, providing free services for clans. Free mumble, free servers and free STV relays. They also host community website 
            = link_to('VanillaTF2.', 'http://www.vanillatf2.org',       :target => '_blank')
            FakkelBrigades provides a number of gameservers.
        %td Germany, Falkenstein & France, Roubaix
        %td fakkelbrigade.eu & fr.fakkelbrigade.eu, fritz.fakkelbrigade.eu, franz.fakkelbrigade.eu & beret.fakkelbrigade.eu

      %tr
        %td= image_tag('server_providers/seriouscat.png')
        %td SeriousCat
        %td
          %p
            SeriousCat is a
            = link_to('VanillaTV', 'http://www.vanillatv.org',                      :target => '_blank')
            staff member.
            SeriousCat provides a bunch of gameservers.
        %td the Netherlands, Amsterdam
        %td turtle.dmci.hva.nl

      %tr
        %td= image_tag('server_providers/slate.png')
        %td= link_to('slate', 'http://etf2l.org/forum/user/11427/',     :target => '_blank')
        %td
          %p
            slate a
            = link_to('Trick17', 'http://etf2l.org/teams/8897/', :target => '_blank')
            member and provides a bunch of gameservers.
        %td Germany, Frankfurt
        %td srv.trick17.eu

      %tr
        %td= image_tag('server_providers/tc.jpg', :class => 'server_provider_logo')
        %td= link_to('Team Colonslash', 'http://team-colonslash.eu/about', :target => '_blank')
        %td
          %p
            Team Colonslash is a small non-profit gaming organisation based in Europe.
            They provide a bunch of gameservers.
        %td France, Roubaix
        %td d4.colonslash.eu

      %tr
        %td
        %td= link_to('mawer555', 'http://steamcommunity.com/id/mawer555/', :target => '_blank')
        %td
          Hey, I'm mawer555 and I sponsor some high performance servers with low pings to serveme.tf for a better competitive gaming experience for everyone :>
        %td Germany, Frankfurt
        %td 176.57.141.41

      %tr
        %td
          %td= link_to('george', 'http://steamcommunity.com/profiles/76561198040215448/', :target => '_blank')
        %td
          "Sometimes when my mom isn't home, I like to go into her garden, cover myself with dirt and pretend I'm a carrot."
        %td Germany, Frankfurt
        %td serveme.bball.eu

      %tr
        %td
          %td= link_to('HarZe', 'http://steamcommunity.com/profiles/76561198000838503/', :target => '_blank')
        %td
          "hl2.exe stopped working"
        %td France, Roubaix
        %td tf2.spanish.tf

      %tr
        %td
          %td= link_to('Netsky', 'http://steamcommunity.com/profiles/76561197976035608/', :target => '_blank')
        %td
          This is Netsky, long time TF2 Warrior & Bottom Tier feeder. Holds the world record in dropping Übers faster than anyone else.
        %td Germany, Falkenstein
        %td 4pals.org
