- content_for(:title) { "server providers" }

%h2 Server providers

.row
  .col-md-12
    %p
      These awesome organisations and individuals have contributed gameservers to the reservation system

%h3 Professional hosting providers

.row

  .col-md-12
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th
            Logo
          %th
            Name
          %th
            Description
          %th
            Location
          %th
            IP

      %tr
        %td= image_tag('server_providers/tragicservers_logo.png', :class => "server_provider_logo")
        %td= link_to('TragicServers', 'http://www.tragicservers.com/link.php?id=3', :target => '_blank')
        %td
          %p
            TragicServers is a very well known provider in North America who does a lot for the NA scene. For the NA version of serveme.tf, TragicServers provides all gameservers in 4 locations. TragicServers is the reason there's a na.serveme.tf at all.
        %td United States of Amercia, Chicago-Dallas-New York-San Jose
        %td servechi1.tragicservers.com, servedal1.tragicservers.com, serveny1.tragicservers.com, serversj1.tragicservers.com

%h3 Community supporters

.row
  .col-md-12
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th
            Logo
          %th
            Name
          %th
            Description
          %th
            Location
          %th
            IP

      %tr
        %td= image_tag('server_providers/fakkelbrigade.png')
        %td= link_to('FakkelBrigade', 'http://fakkelbrigade.eu',        :target => '_blank')
        %td
          %p
            FakkelBrigade is a long time supporter of the European TF2 scene, providing free services for clans. Free mumble, free servers and free STV relays. They also host community website 
            = link_to('VanillaTF2.', 'http://www.vanillatf2.org',       :target => '_blank')
            FakkelBrigades provides a number of gameservers.
        %td Germany - Falkenstein + Dusseldorf, France - Roubaix, the Netherlands - Rotterdam
        %td fakkelbrigade.eu, bisou.fakkelbrigade.eu, bolus.fakkelbrigade.eu, wilhelm.fakkelbrigade.eu & kroket.fakkelbrigade.eu
