- content_for(:title) { "server providers" }

%h2 Server providers

.row
  .col-md-12
    %p
      These awesome organisations and individuals have contributed gameservers to the reservation system
.row
  .col-md-12
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th
            Logo
          %th
            Name
          %th
            Description
          %th
            Location
          %th
            IP

      %tr
        %td= image_tag('server_providers/fakkelbrigade.png')
        %td= link_to('FakkelBrigade', 'http://fakkelbrigade.eu',        :target => '_blank')
        %td
          %p
            FakkelBrigade is a long time supporter of the European TF2 scene, providing free services for clans. Free mumble, free servers and free STV relays. They also host community website 
            = link_to('VanillaTF2.', 'http://www.vanillatf2.org',       :target => '_blank')
            FakkelBrigades provides a number of gameservers.
        %td Germany, Falkenstein & France, Roubaix
        %td fakkelbrigade.eu & fr.fakkelbrigade.eu & fritz.fakkelbrigade.eu

      %tr
        %td= image_tag('server_providers/tragicservers_logo.png', :class => "server_provider_logo")
        %td= link_to('TragicServers', 'http://www.tragicservers.com/link.php?id=3', :target => '_blank')
        %td
          %p
            TragicServers is a very well known provider in North America who does a lot for the NA scene. For the NA version of serveme.tf, TragicServers provides all gameservers in 4 locations. TragicServers is the reason there's a na.serveme.tf at all.
        %td United States of Amercia, Chicago-Dallas-New York-San Jose
        %td servechi1.tragicservers.com, servedal1.tragicservers.com, serveny1.tragicservers.com, serversj1.tragicservers.com


      %tr
        %td= image_tag('server_providers/seriouscat.png')
        %td SeriousCat
        %td
          %p
            SeriousCat is a
            = link_to('VanillaTV', 'http://www.vanillatv.org',                      :target => '_blank')
            staff member.
            SeriousCat provides a bunch of gameservers.
        %td the Netherlands, Amsterdam
        %td turtle.dmci.hva.nl

      %tr
        %td= image_tag('server_providers/blackout_gaming.png', :class => "server_provider_logo")
        %td= link_to("BlackOut Gaming", "https://www.blackoutgaming.org/", :target => "_blank")
        %td
          %p
            BlackOut Gaming is an organization dedicated to bringing high quality servers. They provide 8 gameservers.
        %td England
        %td serveme.blackoutgaming.org

      %tr
        %td= image_tag('server_providers/slate.png')
        %td= link_to('slate', 'http://etf2l.org/forum/user/11427/',     :target => '_blank')
        %td
          %p
            slate is an
            = link_to('ETF2L', 'http://etf2l.org',                      :target => '_blank')
            site coder and 
            = link_to('Trick17', 'http://etf2l.org/teams/8897/', :target => '_blank')
            member.
            slate provides a bunch of gameservers.
        %td Germany, Frankfurt
        %td srv.trick17.eu

      %tr
        %td= image_tag('server_providers/tc.jpg', :class => 'server_provider_logo')
        %td= link_to('Team Colonslash', 'http://team-colonslash.eu/about', :target => '_blank')
        %td
          %p
            Team Colonslash is a small non-profit gaming organisation based in Europe.
            They provide a bunch of gameservers.
        %td France, Roubaix
        %td d4.colonslash.eu

      %tr
        %td
        %td= link_to('Some_Thing', 'http://steamcommunity.com/id/some_thing404/', :target => "_blank")
        %td Some_Thing (Some Underscore Thing) is an Australian community member and a developer of TF2Center. He is also an all around nice guy supporting the Australian TF2 community with some game servers.
        %td Australia
        %td

      %tr
        %td
        %td= link_to('Streamline Servers', 'https://www.streamline-servers.com/', :target => "_blank")
        %td Streamline Servers established in 2007, is already renowned for its reliability and quality products in both New Zealand and Australia. Streamline currently offers hosting for a variety of titles including Counter-Strike Source, Call of Duty series, Minecraft as well as other specialist needs such as Teamspeak and Mumble voice servers. The Streamline vision is to offer a service that is primarily concerned with quality service and high uptime. Prices vary but are widely regarded as more than reasonable and definitely worth the quality product.
        %td Australia
        %td
