%h2 Server providers

.row
  .span12
    %p
      These awesome organisations and individuals have contributed gameservers to the reservation system
.row
  .span12
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th
            Logo
          %th
            Name
          %th
            Description
          %th
            Location
          %th
            IP

      %tr
        %td= image_tag('server_providers/fakkelbrigade.png')
        %td= link_to('FakkelBrigade', 'http://fakkelbrigade.eu',        :target => '_blank')
        %td 
          %p
            FakkelBrigade is a long time supporter of the European TF2 scene, providing free services for clans. Free mumble, free servers and free STV relays. They also host community website 
            = link_to('VanillaTF2.', 'http://www.vanillatf2.org',       :target => '_blank')
            FakkelBrigades provides a number of gameservers.
        %td Germany, Falkenstein & the Netherlands, Amsterdam
        %td fakkelbrigade.eu & vps.fakkelbrigade.eu

      %tr
        %td= image_tag('server_providers/ntraum.png')
        %td= link_to('nTraum', 'http://steamcommunity.com/id/nTraum',   :target => '_blank')
        %td
          %p
            nTraum is an
            = link_to('ETF2L', 'http://etf2l.org',                      :target => '_blank')
            site admin and
            = link_to('vier // red', 'http://etf2l.org/teams/87/',      :target => '_blank')
            member.
            nTraum provides a gameserver.
        %td Germany, Falkenstein
        %td ntraum.de

      %tr
        %td= image_tag('server_providers/seriouscat.png')
        %td SeriousCat
        %td
          %p
            SeriousCat is a
            = link_to('VanillaTV', 'http://www.vanillatv.org',                      :target => '_blank')
            staff member.
            SeriousCat provides a bunch of gameservers.
        %td the Netherlands, Amsterdam
        %td turtle.dmci.hva.nl

      %tr
        %td= image_tag('server_providers/slate.png')
        %td= link_to('slate', 'http://etf2l.org/forum/user/11427/',     :target => '_blank')
        %td
          %p
            slate is an
            = link_to('ETF2L', 'http://etf2l.org',                      :target => '_blank')
            site coder and 
            = link_to('Trick17', 'http://etf2l.org/teams/8897/', :target => '_blank')
            member.
            slate provides two gameservers.
        %td Germany, Frankfurt
        %td srv.trick17.eu

      %tr
        %td= image_tag('server_providers/tc.png')
        %td= link_to('Team Colonslash', 'http://team-colonslash.eu/about', :target => '_blank')
        %td
          %p
            Team Colonslash is a small non-profit gaming organisation based in Europe.
            They provide a gameserver.
        %td France, Roubaix
        %td d2.colonslash.eu

      %tr
        %td &nbsp;
        %td= link_to('Maidos', 'http://etf2l.org/forum/user/57980/', :target => '_blank')
        %td
          %p
            In his own words:
            %i
              "Maidos is a tf2 gamer who offers anyone comfort from body to mind and transcend your airshots skills where you will make hexa airshots every minute. To enemy out there, my pipe will penetrate you all if you underestimate me."
        %td France, Strassbourg
        %td 85.25.184.47

