- content_for(:title) { "statistics" }

- if current_user
  = render 'users/statistics', :user => current_user

.row
  .col-md-12
    %h2 A few site statistics

    = render 'site_totals'

.row
  .col-md-12
    %h2 Reservations graph

    = render 'reservations_per_month_graph'

.row
  .col-md-12
    %h2 Top 10 users

    = render 'top_10_users'


.row
  .col-md-12
    %h2 Top 10 servers

    = render 'top_10_servers'
