- content_for(:title) { "statistics" }

- if current_user
  = render 'users/statistics', :user => current_user

.row
  .col-md-12
    %h2 A few site statistics

    = render 'site_totals'

.row
  .col-md-12
    %h2 Reservations graph

    = turbo_frame_tag "reservations_chart", src: statistics_chart_path("reservations_per_day"), loading: "lazy" do
      .d-flex.flex-column.align-items-center.py-4
        .spinner-border.text-primary.mb-2{role: "status"}
        %span.text-muted Loading reservations chart...

    = turbo_frame_tag "hours_chart", src: statistics_chart_path("reserved_hours_per_month"), loading: "lazy" do
      .d-flex.flex-column.align-items-center.py-4
        .spinner-border.text-primary.mb-2{role: "status"}
        %span.text-muted Loading hours chart...

.row
  .col-md-12
    %h2 Top 10 users

    = render 'top_10_users'


.row
  .col-md-12
    %h2 Top 10 servers

    = render 'top_10_servers'
