- if current_user
  = render 'personal_statistics', :user => current_user
%h2 Top 10 users

.row
  .span10

    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th Who
          %th Reservation count
      - @top_10_users_hash.each do |user, count|
        %tr
          %td= link_to(user.nickname, user.steam_profile_url, :target => "_blank")
          %td= count

%h2 Top 10 servers

.row
  .span10

    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th Which
          %th Reservation count
      - @top_10_servers_hash.each do |server_name, count|
        %tr
          %td= server_name
          %td= count
