= render 'shared/nag_message' if current_user

- content_for :jumbotron do
  - cache "available_servers_#{@most_recently_updated_reservation_time}" do
    .jumbotron
      .container
        .row
          .col-md-8.buttons
            %h1 Welcome to serveme.tf!
            %p The easiest way to borrow a TF2 server
            = link_to new_reservation_path, :class => 'btn btn-lg btn-primary', :title => "Get a server right now, or make a reservation" do
              Let's play!
              %i.fa.fa-crosshairs
            = link_to i_am_feeling_lucky_reservations_path, :class => 'btn btn-lg btn-warning', :method => :post, :title => "Make a reservation in 1 click" do
              I'm feeling lucky
              %i.fa.fa-bolt
          .col-md-4
            - if na_system?
              .sponsor
                = render 'shared/na_sponsor'
                .available_servers= render 'reservations/available_servers'
            - else
              .available_servers= render 'reservations/available_servers'
.row
  .col-md-12
    .flash.alert.alert-success
      %h4
        We're now on twitter as
        = link_to("@servemetf.", "https://twitter.com/servemetf")

.row
  .col-md-12
    %p.lead
      = link_to("Book a server", new_reservation_path)
      and within a few minutes your server will be ready and yours to use.
      Feel free to use the server for any kind of match you want.

.row
  .col-md-12
    %p
      Please
      = link_to('consider contributing to the operating costs by donating.', new_paypal_order_path)
      All donations get divided between the server providers based on time played on their servers.

      You can also
      = link_to('send me a TF2 trade offer.', 'http://steamcommunity.com/tradeoffer/new/?partner=231702&token=a3jCFRBO')
      If you trade a well tradable/sellable item like bills/buds/keys I can give you donator status for that, but you can also send something nice just to say thanks.


.row
  = render "shared/donation_target"

.row &nbsp;

.row
  .col-md-12
    = link_to("Leave a comment", "#leave-a-comment")
    if you like this service, had a problem or suggestion, I'd really appreciate it!
    Alternatively, you could leave a comment on the
    = link_to "ETF2L forums", 'http://etf2l.org/forum/community/topic-23191/?recent=427024', :target => '_blank'

.row &nbsp;


- if @users_reservations && @users_reservations.any?
  %h3 Your most recent reservations
  .row
    .col-md-12
      = render 'reservations/users_reservations'

- cache "todays_reservations_#{@most_recently_updated_reservation_time}_#{Time.current.zone}" do
  .row
    .col-md-12
      = render 'reservations/todays_reservations'

.row
  .col-md-12
    %h3 Comments

    #leave-a-comment
      = render 'shared/disqus'
