%h2 Welcome to the FakkelBrigade reservation system

.row
  .span10
    %p
      Make a reservation and within a minute or so your server will be ready and yours to use for up to 3 hours.
      If you run out of time, press the "Extend reservation" button here.
      Feel free to use the server for any kind of match you want.

.row
  .span10
    %p
      Please leave a comment at the bottom of this page if you like this service, had a problem or suggestion, I'd really appreciate it!
      Alternatively, you could leave a comment on the
      = link_to "ETF2L forums", 'http://etf2l.org/forum/community/topic-23191/?recent=427024', :target => '_blank'

.row
  .span10
    %p
      You can check the server's ping to many destinations on 
      = link_to 'our smokeping graphs.', 'http://fakkelbrigade.eu/cgi-bin/smokeping.cgi', :target => '_blank'
      
.row
  .span10
    = render "shared/paypal"

= link_to "Make reservation",   server_selection_reservations_path, :class => 'btn btn-primary'

- if @users_reservations && @users_reservations.any?
  .row
    .span12
      = render 'shared/your_reservations'
.row
  .span12
    = render 'todays_reservations'

.row
  .span12
    %h3 Comments

    = render 'shared/disqus'
