= render 'shared/nag_message' if current_user

.sm:mb-16.xl:mb-24.lg:flex
  .flex-none.relative.z-10.flex.flex-col.items-start.lg:pt-10.max-w-screen-sm.mx-auto.lg:max-w-2xl.lg:mx-0.lg:pr-20.mb-12.sm:mb-16.lg:mb-0
    %h1.order-1.text-3xl.sm:text-5xl.sm:leading-none.font-extrabold.tracking-tight.text-white.mb-4
      %span.text-red-400 Welcome to #{SITE_HOST},
      the place for competitive TF2 servers
    %p.order-2.leading-relaxed.mb-8 We provide gameservers in EU, NA and SEA. Ready for action in seconds.
    .order-2.w-full.text-center.grid.grid-cols-1.gap-3.sm:flex.sm:gap-0.sm:space-x-6
      = link_to new_reservation_path, class: "text-sm font-semibold bg-white text-gray-900 py-3 px-4 rounded-lg hover:bg-gray-300 hover:text-gray-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900" do
        Get server
      = link_to i_am_feeling_lucky_reservations_path, class: "text-sm font-semibold bg-gray-800 text-gray-300 py-3 px-4 rounded-lg hover:bg-gray-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900", method: :post do
        I am feeling lucky
  .flex-none.relative.z-10.flex.flex-col.items-start.lg:pt-10.max-w-screen-sm.mx-auto.lg:max-w-2xl.lg:mx-0.mb-12.sm:mb-16.lg:mb-0.xl:pl-80
    = render 'reservations/available_servers'
.relative.max-w-screen-sm.mx-auto.lg:mx-0.lg:max-w-none.grid.lg:grid-cols-3.gap-10.lg:gap-8.text-sm
  .flex.space-x-6
    %div
      %h2.font-semibold.text-white.mb-2 200+ Servers
      %p.leading-normal 
        Servers available in 
        = link_to("Europe,", "https://serveme.tf")
        = link_to("North America", "https://na.serveme.tf")
        and
        = link_to("South East Asia.", "https://sea.serveme.tf")
        Multiple regions, providers and datacenters to get you the best ping.

  .flex.space-x-6
    %div
      %h2.font-semibold.text-white.mb-2 Community supported
      %p.leading-normal This is a non-profit service, paid for by TF2 community members through their premium memberships. We offer the lowest possible prices, there's also a free tier with a limited amount of servers.
  .flex.space-x-6
    %div
      %h2.font-semibold.text-white.mb-2 DDoS protected
      %p.leading-normal DDoS protected (Anti-DDoS) servers, including servers on Valve's SDR network which improves ping and prevents attacks.

.relative.max-w-screen-sm.mx-auto.lg:mx-0.lg:max-w-none.grid.lg:grid-cols-1.gap-10.lg:gap-8.text-sm.py-16
  - if @users_games && @users_games.any?
    %h1.text-xl.sm:text-3xl.sm:leading-none.font-extrabold.tracking-tight.text-white.mb-4 Played in
    = render 'reservations/users_games'

.relative.max-w-screen-sm.mx-auto.lg:mx-0.lg:max-w-none.grid.lg:grid-cols-1.gap-10.lg:gap-8.text-sm.py-16
  - if @users_reservations && @users_reservations.any?
    %h1.text-xl.sm:text-3xl.sm:leading-none.font-extrabold.tracking-tight.text-white.mb-4 Recent reservations
    = render 'reservations/users_reservations'

.relative.max-w-screen-sm.mx-auto.lg:mx-0.lg:max-w-none.grid.lg:grid-cols-1.gap-10.lg:gap-8.text-sm.py-2
  %h1.text-xl.sm:text-3xl.sm:leading-none.font-extrabold.tracking-tight.text-white.mb-4
    Comments
  #leave-a-comment
    = render 'shared/disqus'

-#.row
-#  .col-md-12
-#
-#.row
-#  .col-md-12
-#    %p
-#      Please
-#      = link_to('consider contributing to the operating costs by donating.', donate_path)
-#      All donations get divided between the server providers based on time played on their servers.
-#
-#      You can also
-#      - if !sea_system?
-#        = link_to('send me a TF2 trade offer.', 'https://steamcommunity.com/tradeoffer/new/?partner=231702&token=POpKIGaL')
-#      - else
-#        = link_to('send the tradebot a trade offer.', 'https://steamcommunity.com/tradeoffer/new/?partner=328658734&token=3vDIZUwa')
-#
-#      The current rate is 2 keys per month, but you can also send some items just to say thanks.
-#
-#
-#.row
-#  = render "shared/donation_target"
-#
-#.row &nbsp;
-#
-#.row
-#  .col-md-12
-#    = link_to("Leave a comment", "#leave-a-comment")
-#    if you like this service, had a problem or suggestion, I'd really appreciate it!
-#    Alternatively, you could leave a comment on the
-#    = link_to "ETF2L forums", 'http://etf2l.org/forum/community/topic-23191/?recent=427024', :target => '_blank'
-#
-#.row &nbsp;
-#
-#
-#
-#.row
-#  .col-md-12
-#    %h3 Comments
-#
-#    #leave-a-comment
-#      = render 'shared/disqus'
-#