= render 'shared/nag_message' if current_user

- content_for :jumbotron do
  .jumbotron
    .container
      .row
        .col-md-8.buttons
          %h1 Welcome to #{SITE_HOST}!
          %p The easiest way to get a TF2 server
          = link_to new_reservation_path, :class => 'btn btn-lg btn-primary', :title => "Get a server right now, or make a reservation" do
            Let's play!
            %i.fa.fa-crosshairs
          - if eu_system? || na_system?
            = link_to gameye_reservations_new_path, :class => 'btn btn-lg btn-info', :title => "Launch an on-demand cloud server" do
              cloud (beta)
              %i.fa.fa-cloud
          = link_to i_am_feeling_lucky_reservations_path, :class => 'btn btn-lg btn-warning', :method => :post, :title => "Make a reservation in 1 click" do
            I'm feeling lucky
            %i.fa.fa-bolt

        .col-md-4.align-self-end
          - if na_system?
            .sponsor= render 'shared/na_sponsor'
            = render 'reservations/available_servers'
          - else
            = render 'reservations/available_servers'

- if na_system?
  .row
    .col-md-12
      .alert.alert-success
        %h4
          Exclusive 30% off your next game, voice and VPS server at tragicservers.com.
        = link_to('Order today', "http://www.tragicservers.com/link.php?id=15")
        using "SERVEME30" at checkout

.row
  .col-md-12
    %p.lead
      = link_to("Book a server", new_reservation_path)
      and within a few minutes your server will be ready and yours to use.
      Feel free to use the server for any kind of match you want.

.row
  .col-md-12
    %p
      Please
      = link_to('consider contributing to the operating costs by donating.', donate_path)
      All donations get divided between the server providers based on time played on their servers.

      You can also
      - if !sea_system?
        = link_to('send me a TF2 trade offer.', 'https://steamcommunity.com/tradeoffer/new/?partner=231702&token=POpKIGaL')
      - else
        = link_to('send the tradebot a trade offer.', 'https://steamcommunity.com/tradeoffer/new/?partner=328658734&token=3vDIZUwa')

      The current rate is 1 key per month, but you can also send some items just to say thanks.


.row
  = render "shared/donation_target"

.row &nbsp;

.row
  .col-md-12
    = link_to("Leave a comment", "#leave-a-comment")
    if you like this service, had a problem or suggestion, I'd really appreciate it!
    Alternatively, you could leave a comment on the
    = link_to "ETF2L forums", 'http://etf2l.org/forum/community/topic-23191/?recent=427024', :target => '_blank'

.row &nbsp;


- if @users_games && @users_games.any?
  %h3 Reservations you played in
  .row
    .col-md-12
      = render 'reservations/users_games'

- if @users_reservations && @users_reservations.any?
  %h3 Your most recent reservations
  .row
    .col-md-12
      = render 'reservations/users_reservations'

.row
  .col-md-12
    %h3 Comments

    #leave-a-comment
      = render 'shared/disqus'
