%span
  - unless reservation.past?
    = link_to reservation_path(reservation),              :class => 'btn btn-small btn-success' do
      Details
      %i.fa.fa-list
    = link_to edit_reservation_path(reservation),         :class => 'btn btn-small btn-info',    :title => 'Edit reservation' do
      Edit
      %i.fa.fa-edit
  - if reservation.active? || (reservation.now? && reservation.start_instantly?)
    - if reservation.less_than_1_hour_left?
      = link_to extend_reservation_path(reservation),     :class => 'btn btn-small btn-primary', :title => 'Extend reservation',  :method => :post,   :data => { :confirm => "This will extend your reservation if possible" } do
        Extend
        %i.fa.fa-time
    - if reservation.has_players?
      - end_message = "Are you sure you want to end your reservation? There #{I18n.t(:were_x_players_left, :count => reservation.last_number_of_players, :scope => :server)} left on the server at #{I18n.l(Time.zone.now, :format => :time_without_seconds)}"
    - else
      - end_message = "Are you sure you want to end your reservation?"
    = link_to reservation_path(reservation),              :class => 'btn btn-small btn-danger',  :title => 'End reservation',     :method => :delete, :data => { :confirm => end_message } do
      End
      %i.fa.fa-stop
  - if reservation.cancellable?
    = link_to reservation_path(reservation),              :class => 'btn btn-small btn-warning', :title => 'Cancel reservation',  :method => :delete do
      Cancel
      %i.fa.fa-trash-o

  - if reservation.active? || (reservation.now? && reservation.start_instantly?)
    = link_to  reservation.server_connect_url,            :class => 'btn btn-small btn-warning' do
      Join game
      %i.fa.fa-play
    - unless reservation.disable_source_tv?
      = link_to reservation.stv_connect_url,              :class => 'btn btn-small btn-primary' do
        Join STV
        %i.fa.fa-film

  - if reservation.past?
    = link_to "/uploads/#{reservation.zipfile_name}",     :class => 'btn btn-small btn-info',    :title => 'Download a zip with the logs and demos of the match' do
      Log/demo zip
      %i.fa.fa-download
    = link_to reservation_log_uploads_path(reservation),  :class => 'btn btn-small btn-success', :title => 'Upload the match logs to logs.tf' do
      logs.tf
      %i.fa.fa-upload
