.span12
  .row
    .span12
      %h4 Servers in use right now
  .row
    .span6
      %h5 Non-donators
      = "#{used_free_server_count} / #{Server.active.without_group.count}"
      servers
    .span6
      %h5 Donators only
      = "#{used_donator_server_count} / #{Server.for_donators.active.count}"
      servers
