- free_limit = SiteSetting.free_server_limit
- total_without_group = Server.active.not_cloud.without_group.count + docker_hosts_total_slots
- if current_user
  %h5
    Servers available
    (#{I18n.l(Time.current, :format => :time_without_seconds)} - #{I18n.l(1.hour.from_now, :format => :time_without_seconds)})
  - if current_user.donator?
    - available_server_count = ServerForUserFinder.new(current_user, Time.current, 1.hour.from_now).servers.size + docker_hosts_available_during(Time.current, 1.hour.from_now)
    %h6 For you
    = "#{available_server_count} / #{Server.active.not_cloud.count + docker_hosts_total_slots}"
  - else
    - if free_limit
      - free_available = [free_limit - SiteSetting.free_user_reservation_count(Time.current, 1.hour.from_now), 0].max
      %h6 For you
      = "#{free_available} / #{free_limit}"
    - else
      - available_server_count = ServerForUserFinder.new(current_user, Time.current, 1.hour.from_now).servers.size + docker_hosts_available_during(Time.current, 1.hour.from_now)
      %h6 For you
      = "#{available_server_count} / #{total_without_group}"

- else
  %h5 Servers in use
  %h6 Everyone
  - if free_limit
    = "#{free_user_reservations_in_use} / #{free_limit}"
  - else
    = "#{used_free_server_count} / #{total_without_group}"
  servers
  %h6 Premium
  = "#{donator_user_reservations_in_use} / #{total_premium_server_count}"
  servers
