%h4 Servers in use
.row
  .col-md-6
    %h5 Everyone
    = "#{used_free_server_count} / #{Server.active.without_group.count}"
    servers
  .col-md-6
    %h5 Premium
    = "#{used_donator_server_count} / #{Server.for_donators.active.count}"
    servers
