- if @nag
  %p.alert.alert-error
    Hi! You've used this service quite a few times, please consider donating :) You can find the donate button
    = link_to 'here', root_path
- if @complain
  %p.alert.alert-error
    It looks like you didn't end all your reservations in the last week. Please remember to end your reservation when you're done playing so other people can use the server, thanks!
= simple_form_for(reservation, :html => { :class => 'form-horizontal' }) do |f|
  - if reservation.server
    %p= reservation.server_info
    = f.input :server_id, :as => :hidden
  - else
    = f.association :server, :collection => Server.available_today_for_user(current_user)
  = f.input :password,          :as => :string, :value => reservation.password
  = f.input :rcon,              :as => :string
  = f.input :tv_password,       :as => :string
  = f.input :tv_relaypassword,  :as => :string

  %button.btn{:type => :submit}
    Save
