<% formatted = LogLineFormatter.new(log_line).format(skip_sanitization: local_assigns.fetch(:skip_sanitization, false)) %><div class="log-line log-line-<%= formatted[:type] %>" data-raw="<%= escape_once(formatted[:raw]) %>" data-event-type="<%= formatted[:type] %>"><div class="log-formatted"><%= log_timestamp(formatted[:timestamp]) %><%= render_log_line_content(formatted) %></div></div>
