- scores = live_stats[:scores]
- red_score = scores["Red"] || 0
- blue_score = scores["Blue"] || 0
- class_order = { "scout" => 1, "soldier" => 2, "pyro" => 3, "demoman" => 4, "heavyweapons" => 5, "engineer" => 6, "medic" => 7, "sniper" => 8, "spy" => 9, "unknown" => 10 }

- players = live_stats[:players]
- red_players = players.select { |p| p[:team] == "Red" }
- blue_players = players.select { |p| p[:team] == "Blue" }
- red_sorted = red_players.sort_by { |p| class_order[p[:tf2_class] || "unknown"] || 10 }
- blue_sorted = blue_players.sort_by { |p| class_order[p[:tf2_class] || "unknown"] || 10 }

.match-scoreboard.mb-3
  .d-flex.justify-content-center.align-items-center.mb-3
    %span.fs-2.fw-bold.px-4.py-2.text-white{style: "background-color: #bd3b3b;"}= red_score
    %span.fs-2.fw-bold.px-4.py-2.text-white{style: "background-color: #5b818f;"}= blue_score

  - if red_sorted.any? || blue_sorted.any?
    %table.table.table-hover.table-bordered.table-striped.table-sm.mb-2
      %thead
        %tr
          %th
          %th Name
          %th.text-center{title: "Class"}
          %th.text-center{title: "Kills"} K
          %th.text-center{title: "Assists"} A
          %th.text-center{title: "Deaths"} D
          %th.text-end{title: "Damage"} DA
          %th.text-end{title: "Damage Taken"} DT
          %th.text-end{title: "Heals Received"} HR
          %th.text-center{title: "Kills + Assists per Death"} KA/D
          %th.text-center{title: "Kills per Death"} K/D
      %tbody
        - [["Red", "#bd3b3b", red_sorted], ["Blue", "#5b818f", blue_sorted]].each do |team_name, team_color, team_players|
          - team_players.each do |stats|
            - tf2_class = stats[:tf2_class] || "unknown"
            - kills = stats[:kills] || 0
            - assists = stats[:assists] || 0
            - deaths = stats[:deaths] || 0
            - effective_deaths = [deaths, 1].max
            - ka_d = ((kills + assists).to_f / effective_deaths).round(1)
            - k_d = (kills.to_f / effective_deaths).round(1)
            %tr
              %td{style: "background-color: #{team_color}; width: 4px; padding: 0;"}
              %td
                - rp = reservation_players_by_uid[stats[:steam_uid]]
                - if rp&.steam_uid && rp&.name
                  = link_to(rp.name, "https://steamcommunity.com/profiles/#{rp.steam_uid}", target: "_blank", class: "player-name")
                - else
                  %span.player-name= stats[:name] || "Unknown"
              %td.text-center
                - if tf2_class != "unknown"
                  %span{class: "class-icon class-icon-#{tf2_class}", title: tf2_class.capitalize}
              %td.text-center= kills
              %td.text-center= assists
              %td.text-center= deaths
              %td.text-end= number_with_delimiter(stats[:damage] || 0)
              %td.text-end= number_with_delimiter(stats[:damage_taken] || 0)
              %td.text-end= number_with_delimiter(stats[:heals_received] || 0)
              %td.text-center= ka_d
              %td.text-center= k_d

  - unassigned = players.select { |p| !p[:team]&.in?(%w[Red Blue]) }
  - if unassigned.any?
    %table.table.table-hover.table-bordered.table-striped.table-sm
      %thead.table-secondary
        %tr
          %th Player
      %tbody
        - unassigned.each do |stats|
          %tr
            %td
              - rp = reservation_players_by_uid[stats[:steam_uid]]
              - if rp&.steam_uid && rp&.name
                = link_to(rp.name, "https://steamcommunity.com/profiles/#{rp.steam_uid}", target: "_blank", class: "player-name")
              - else
                %span.player-name= stats[:name] || "Unknown Player"
