%tr[server]
  %td= "#{server.name} - #{server.ip_port}"
  %td
    %ul.unstyled
      - server.reservations.future.order(:starts_at).each do |reservation|
        %li
          %small= "#{I18n.l(reservation.starts_at, :format => :short_with_dayname)} -  #{I18n.l(reservation.ends_at, :format => :time)}"
  %td.actions
    = link_to "Book this server", new_reservation_path(:server_id => server.id), :class => 'btn btn-primary'
