.table-responsive
  %table.table.table-condensed.your-reservations
    %thead
      %tr
        %th Server
        %th Reserved from
        %th Reserved until
        %th Reserved by
        %th Logs/demos
    %tbody
      - @users_games.each do |reservation|
        %tr[reservation]
          - server = reservation.server.decorate
          %td= server.name
          %td= I18n.l(reservation.starts_at,  :format => :short)
          %td= I18n.l(reservation.ends_at,    :format => :short)
          %td
            %span.player-name= reservation.user.nickname
          %td.actions
            - if reservation.younger_than_cleanup_age? || reservation.zipfile.attached?
              = render 'reservations/zip_file_link', :reservation => reservation
              = link_to reservation_log_uploads_path(reservation), :class => 'btn btn-sm btn-success', :title => 'Upload the match logs to logs.tf' do
                logs.tf
                %i.fa.fa-upload
            - else
              = link_to reservation.logs_tf_url, :class => 'btn btn-sm btn-info', :title => 'Search on logs.tf' do
                logs.tf
                %i.fa.fa-search
              = link_to demos_tf_url(reservation.user), :class => 'btn btn-sm btn-info', :title => 'Search on demos.tf' do
                demos.tf
                %i.fa.fa-search
