%table.table.table-condensed.your-reservations
  %thead
    %tr
      %th Server
      %th Reserved from
      %th Reserved until
      %th Reserved by
      %th Logs/demos
  %tbody
    - @users_games.each do |reservation|
      %tr[reservation]
        - server = reservation.server.decorate
        %td= server.name
        %td= I18n.l(reservation.starts_at,  :format => :short)
        %td= I18n.l(reservation.ends_at,    :format => :short)
        %td= reservation.user.nickname
        %td.actions
          - if reservation.gameye?
            = link_to reservation.logs_tf_url, :class => 'btn btn-sm btn-info', :title => 'Search on logs.tf' do
              Logs.tf
              %i.fa.fa-search
            = link_to reservation.demos_tf_url(current_user), :class => 'btn btn-sm btn-info', :title => 'Search on demos.tf' do
              Demos.tf
              %i.fa.fa-search
          - else
            - if reservation.younger_than_cleanup_age?
              = render 'reservations/zip_file_link', :reservation => reservation
            - else
              = link_to reservation.logs_tf_url, :class => 'btn btn-sm btn-info', :title => 'Search on logs.tf' do
                Logs.tf
                %i.fa.fa-search
              = link_to reservation.demos_tf_url(current_user), :class => 'btn btn-sm btn-info', :title => 'Search on demos.tf' do
                Demos.tf
                %i.fa.fa-search
