%h3 Your reservations
.row
  .span11.alert.alert-error
    Soon we'll delete the zipfiles with the demos+logs. All zip files from before september 2013 will be removed.
%table.table.table-condensed.your-reservations
  %thead
    %tr
      %th Server
      %th Reserved from
      %th Reserved until
      %th Actions
  %tbody
    - @users_reservations.each do |reservation|
      %tr[reservation]
        - server = reservation.server.decorate
        - if reservation.active?
          %td= "#{server.name} (#{pluralize(reservation.last_number_of_players, 'player')})".html_safe
        - else
          %td= server.name
        %td= I18n.l(reservation.starts_at,  :format => :short)
        %td= I18n.l(reservation.ends_at,    :format => :short)
        %td.actions= render 'reservations/actions', :reservation => reservation
