%dl
  %dt Connect info
  %dd= reservation.server_info

  %dt sv_password
  %dd= reservation.password

  %dt rcon_password
  %dd= reservation.rcon

  %dt tv_password
  %dd= reservation.tv_password

  %dt tv_relaypassword
  %dd= reservation.tv_relaypassword
