%h2 Reservation

.row
  .span10

    %table.table.table-hover.table-bordered.table-striped
      %tr
        %td Connect info
        %td
          - if reservation.active?
            = link_to reservation.server_connect_url, :class => 'btn btn-small btn-warning' do
              Join game
              %i.icon-play
            = "or enter in console: #{reservation.connect_string}"
          - else
            = reservation.connect_string
      %tr
        %td Password
        %td= reservation.password

      %tr
        %td RCON
        %td= reservation.rcon

      - if !!reservation.disable_source_tv

        %tr
          %td STV
          %td Disabled

      - else

        %tr
          %td STV
          %td Enabled

        %tr
          %td TV password
          %td= reservation.tv_password

        %tr
          %td Relay password
          %td= reservation.tv_relaypassword

        %tr
          %td STV connect info
          %td
            - if reservation.active?
              = link_to reservation.stv_connect_url, :class => 'btn btn-small btn-inverse' do
                Join STV
                %i.icon-film
              = "or enter in console: #{reservation.stv_connect_string}"
            - else
              = reservation.stv_connect_string

      - if reservation.server_config
        %tr
          %td Server config
          %td= reservation.server_config

      - if reservation.whitelist
        %tr
          %td Whitelist
          %td= reservation.whitelist
