#admin-players-content
  %h2.mb-4
    Current Players
    = link_to(pluralize(servers_with_players.sum { |server_data| server_data[:players].length }, "player"), player_statistics_path, class: "badge badge-info", title: "View player statistics")

  - if servers_with_players.present?
    - servers_with_players.each do |server_data|
      .row
        .col-md-12
          %h3
            = link_to(server_data[:server].name, show_server_statistic_path(server_data[:server].id), title: "View server statistics")
            - if server_data[:players].any? && server_data[:players].first[:reservation_player]&.reservation
              - reservation = server_data[:players].first[:reservation_player].reservation
              = link_to(pluralize(server_data[:players].length, "player"), reservation_path(reservation), class: "badge badge-info", title: "View reservation details")
            - else
              = link_to(pluralize(server_data[:players].length, "player"), show_server_player_statistic_path(server_data[:server].id), class: "badge badge-info", title: "View player statistics for this server")
            = link_to("Server Monitor", server_monitoring_path(server_id: server_data[:server].id), class: "badge badge-secondary ml-2", title: "Monitor this server in real-time")

          = render "players/admin_connection_table", server_data: server_data, distance_unit: distance_unit

          %br

  - else
    .row
      .col-md-12
        %p Currently no players are active on any servers
        %p
          = link_to "View all reservations", your_reservations_path, class: "btn btn-primary"
          = link_to "Make a reservation", new_reservation_path, class: "btn btn-success"
