%h2= "#{@results.size} search results"

= turbo_frame_tag "stac_detections", src: league_request_stac_detections_path(steam_uids: @stac_steam_uids), loading: :lazy do
  .row
    .col-md-12
      %p.text-muted Loading STAC detections...

.row
  .col-md-12
    %table.table.table-condensed
      %thead
        %tr
          %th Reservation ID
          %th Start time
          %th End time
          %th IP
          %th Name
          %th Steam ID
          %th ETF2L
          %th RGL.gg
          %th OZF
          %th logs.tf
      - @results.each do |result|
        %tr
          %td= link_to(result.reservation_id, show_reservation_statistic_path(reservation_id: result.reservation_id))
          %td= I18n.l(result.reservation_starts_at, format: :long)
          %td= I18n.l(result.reservation_ends_at, format: :time_without_seconds)
          %td
            - if result.ip.present?
              - asn = result.asn_number.present? ? result : @asns[result.ip]
              - if asn
                - asn_number = asn.respond_to?(:autonomous_system_number) ? asn.autonomous_system_number : asn.asn_number
                - asn_org = asn.respond_to?(:autonomous_system_organization) ? asn.autonomous_system_organization : asn.asn_organization
                - asn_net = asn.respond_to?(:network) ? asn.network : asn.asn_network
                - tooltip_html = "<strong>ASN</strong> #{asn_number}<br><strong>ORG</strong> #{asn_org}<br><strong>NET</strong> #{asn_net}"
                = link_to(result.ip, league_request_path(ip: result.ip), class: "asn-tooltip", data: {toggle: "tooltip", html: true, placement: "top"}, title: tooltip_html)
                - if ban_reason = @banned_ips[result.ip]
                  %span.badge.badge-danger{title: ban_reason}
                    %i.fa 💀
                - if @banned_asns[asn_number]
                  %span.badge.badge-warning{title: "Possible VPN"}
                    %i.fa.fa-flag
              - else
                = link_to(result.ip, league_request_path(ip: result.ip))
          %td
            %span.player-name= result.name
          %td
            = link_to(result.steam_uid, league_request_path(steam_uid: result.steam_uid))
            - if ban_reason = @banned_uids[result.steam_uid]
              %span.badge.badge-danger{title: ban_reason}
                %i.fa 💀
          %td= link_to("ETF2L", "http://etf2l.org/search/#{result.steam_uid}/")
          %td= link_to("RGL", "http://rgl.gg/Public/PlayerProfile.aspx?p=#{result.steam_uid}")
          %td= link_to("OZF", "https://ozfortress.com/users/steam_id/#{result.steam_uid}")
          %td= link_to("logs.tf", "http://logs.tf/profile/#{result.steam_uid}")

= link_to league_request_path do
  .btn.btn-primary
    New search

:javascript
  document.addEventListener('turbo:load', function() {
    $('[data-toggle="tooltip"]').tooltip({html: true});
  });
