.row
  .col-md-12
    = simple_form_for(@league_request, url: league_request_path, data: { turbo: false } ) do |f|

      = f.input :ip,              label: "IP", as: :string,  placeholder: "IPv4 address"
      = f.input :steam_uid,       label: "Steam ID 64", as: :string,  placeholder: "SteamID64"
      = f.input :reservation_ids, label: "Limit to reservation IDs", as: :string,  placeholder: "123456,123457,123458"
      = f.input :cross_reference, label: "Cross reference results", as: :boolean, placeholder: "Cross reference found matches (can cause loads of results, be careful for false positives)"

      %button.btn.btn-default{type: :submit}
        Search
