= turbo_frame_tag "users_list" do
  .row
    .col-md-12
      .card
        .card-body.p-0
          .table-responsive
            %table.table.table-hover.mb-0
              %thead
                %tr
                  %th.pl-3 User
                  %th Groups
                  %th.text-center Reservations
                  %th.text-center Lifetime Value
                  - if params[:group_id].to_i == Group.donator_group.id
                    %th.text-center Last Donation
                  - else
                    %th.text-center Last Sign In
                  %th.text-center Joined
                  %th.text-center Actions
              %tbody
                - @users.each do |user|
                  %tr[user]
                    %td.pl-3
                      = link_to(user.nickname, user.steam_profile_url, target: "_blank", rel: "noopener", class: "player-name", data: { turbo: false })
                      %br
                      %small.text-muted= "##{user.id} | #{user.uid}"
                    %td
                      - if user.groups.any?
                        - user.groups.each do |group|
                          - group_user = user.group_users.find_by(group: group)
                          - badge_class = case group.name; when "Donator"; "bg-success"; when "Admin"; "bg-danger"; when "League admin"; "bg-warning"; when "Streamer"; "bg-info"; when "Trusted API"; "bg-primary"; else; "bg-secondary"; end
                          %span{class: "badge #{badge_class} text-white me-1 mb-1", title: group_user&.expires_at ? "Expires: #{l(group_user.expires_at, format: :long)}" : "Permanent"}
                            = group.name
                      - else
                        %span.text-muted No groups
                    %td.text-center
                      - if @reservation_counts[user.id]
                        = @reservation_counts[user.id]
                      - else
                        %span.text-muted 0
                    %td.text-center
                      - if @lifetime_values[user.id]
                        = number_to_currency(@lifetime_values[user.id])
                      - else
                        %span.text-muted $0
                    %td.text-center
                      - if params[:group_id].to_i == Group.donator_group.id
                        - if @last_donation_dates[user.id]
                          %span{title: l(@last_donation_dates[user.id], format: :long), data: {toggle: "tooltip"}}
                            = time_ago_in_words(@last_donation_dates[user.id]) + " ago"
                        - else
                          %span.text-muted Never
                      - else
                        - if @last_sign_in_dates[user.id]
                          %span{title: l(@last_sign_in_dates[user.id], format: :long), data: {toggle: "tooltip"}}
                            = time_ago_in_words(@last_sign_in_dates[user.id]) + " ago"
                        - else
                          %span.text-muted Never
                    %td.text-center
                      %small= l(user.created_at, format: :long)
                    %td.text-center
                      .btn-group.btn-group-sm{role: "group"}
                        = link_to("View", admin_user_path(user), class: "btn btn-info", title: "View details", data: { turbo_frame: "_top" })
                        = link_to("Edit", edit_admin_user_path(user), class: "btn btn-warning", title: "Edit user", data: { turbo_frame: "_top" })

  .row.mt-3
    .col-md-12
      .d-flex.justify-content-center
        != @pagy.series_nav(:bootstrap)