- content_for(:title) { "User Management" }

.row
  .col-md-12
    .d-flex.justify-content-between.align-items-center.mb-4
      %h2.mb-0 User Management
      = link_to("Add user", new_admin_user_path, class: "btn btn-primary")

.row.mb-3
  .col-md-12
    .card
      .card-body
        = form_tag admin_users_path, method: :get, class: "row g-3", 
                   data: { controller: "user-search", 
                           turbo_frame: "users_list",
                           "user-search-url-value": admin_users_path } do
          .col-md-6
            = text_field_tag :search, params[:search], 
              placeholder: "Search by name, nickname or Steam ID", 
              class: "form-control",
              data: { action: "input->user-search#debounceSearch" }
          .col-md-4
            = select_tag :group_id, 
              options_for_select([["All Groups", ""]] + @filtered_groups.map { |g| [g.name, g.id] }, params[:group_id]),
              class: "form-control",
              data: { action: "change->user-search#submitNow" }
          .col-md-2
            = submit_tag "Filter", class: "btn btn-secondary w-100"

= turbo_frame_tag "users_list" do
  = render "users_list"