!!!
%html
  %head
    - subtitle = content_for(:title) || "free TF2 server reservations"
    %title serveme.tf - #{subtitle}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'shared/google_analytics'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = content_for(:head)
  %body

    = render 'shared/navigation'

    = content_for(:jumbotron)

    .container

      - if !donator?
        .row
          .col-md-12
            = render 'shared/adsense_responsive'

          .row
            .col-md-11
              .row
                .col-md-12
                  = render 'shared/flash'

              = yield

            .col-md-1
              = render 'shared/adsense_sidebar'
      - else
        .row
          .col-md-12
            = render 'shared/flash'

        = yield

      = render 'shared/timezone'
