!!!
%head
  %title Serveme
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body

  = render 'shared/navigation'

  = render 'shared/fork_me_on_github'

  .container-fluid

    = render 'shared/flash'

    = yield

  = render 'shared/timezone'
