!!!
%html
  %head
    - subtitle = content_for(:title) || "free TF2 server reservations"
    %title #{SITE_HOST} - #{subtitle}
    = stylesheet_link_tag    "application", :media => "all"
    - if white_theme?
      = stylesheet_link_tag    "themes/white", :media => "all"
    - else
      = stylesheet_link_tag    "themes/black", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v3/"
    = content_for(:stripe)
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'shared/google_analytics'
    %meta{:name => "viewport",    :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => "Free TF2 servers, ready for action in 60 seconds!"}
    = content_for(:head)
  %body

    = render 'shared/navigation'

    = content_for(:jumbotron)

    .container

      - if !donator?
        .row
          .col-md-12
            = render 'shared/adsense_responsive'

          .row
            .col-md-11
              .row
                .col-md-12
                  = render 'shared/flash'

              = yield

            .col-md-1
              = render 'shared/adsense_sidebar'
      - else
        .row
          .col-md-12
            = render 'shared/flash'

        = yield

      = render 'shared/timezone'
