!!!
%head
  %title Serveme
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'shared/google_analytics'
%body

  = render 'shared/navigation'

  = render 'shared/fork_me_on_github'

  .container-fluid

    .alert.alert-error
      Due to a problem with the reservation system's connection to steam, you might not be able to log in :(

    = render 'shared/nag_message' if current_user

    = render 'shared/flash'

    = yield

  = render 'shared/timezone'
