!!!
%head
  %title serveme.tf - free TF2 server reservations
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'shared/google_analytics'
  = content_for(:head)
%body

  = render 'shared/navigation'

  .container-fluid

    .row
      .span11.alert.alert-error
        Because of the low amount of donations recently, we're shutting down 11 servers. :'(

      = render 'shared/nag_message' if current_user

    = render 'shared/flash'

    = yield

  = render 'shared/timezone'
