!!!
%html
  %head
    %title #{SITE_HOST} - Map List
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "themes/black", :media => "all"
    = javascript_importmap_tags
    = javascript_include_tag "serveme"
    = render 'shared/analytics'
    %meta{:name => "viewport",    :content => "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    = content_for(:head)
  %body
    .container
      %main{role: "main"}
        = yield
