!!!
%html
  %head
    - subtitle = content_for(:title) || "free TF2 server reservations"
    %title #{SITE_HOST} - #{subtitle}
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "themes/black", :media => "all"
    = content_for(:stripe)
    = javascript_include_tag "serveme"
    = javascript_importmap_tags
    = csrf_meta_tags
    = render 'shared/google_analytics'
    %meta{:name => "viewport",    :content => "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %meta{:name => "description", :content => "Free TF2 servers, ready for action in 60 seconds!"}
    = content_for(:head)
  %body

    = render 'shared/navigation'

    = content_for(:jumbotron)

    .container-fluid

      %main{role: "main"}
        - if notice || alert
          .row
            .col-md-12
              = render 'shared/flash'

        = yield

      = render 'shared/timezone'
